{% extends 'adminlte/base.html'  %}
{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
{% endblock %}
{% block nav_header %}
{% include 'adminlte/lib/_main_header.html' %}
{% endblock %}
{% block nav_links_ul %}
{% include 'adminlte/lib/_main_sidebar.html' %}
{% endblock nav_links_ul %}

{% block social %}
    {% include 'adminlte/lib/_main_social.html' %}
{% endblock social %}
{% block content %}

{% endblock %}

{% block accesibilidad %}
    {% include 'adminlte/lib/_main_accesibilidad.html' %}
{% endblock accesibilidad %}

{% block nav_footer %}
{% include 'adminlte/lib/_main_footer.html' %}
{% endblock %}