{% extends 'adminlte/base.html'  %}
{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}

{% block style_sheets %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/three-dots/0.3.2/three-dots.min.css">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}
{% endblock %}
{% block nav_header %}
{% include 'adminlte/lib/_main_header.html' %}
{% endblock %}
{% block nav_links_ul %}
{% include 'adminlte/lib/_main_sidebar.html' %}
{% endblock nav_links_ul %}

{% block content %}

{% endblock %}

{% block nav_footer %}
{% include 'adminlte/lib/_main_footer.html' %}
{% endblock %}