{% extends 'usuario/principal.html' %}

{%block content%}

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5">Reset Password</h5>
                <form class="row g-3" method="POST">
                    {% csrf_token %}
					<div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Correo" name="email">
                        <label for="email">Correo</label>
                    </div>
					<div class="d-grid gap-2 mb-3">
                        <button type="submit" class="btn btn-primary btn-login text-uppercase fw-bold btn-sm">Enviar</button>
						<a href="{%url 'login' %}"  class="btn btn-secondary btn-sm">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{%endblock content%}