:root {
  --color-U-1: #000000;
  --color-U-2: #FED141;
  --color-U-3: #7474c1;
  --color-U-4: #005151;
  --color-U-5: #EF3340;
  --color-U-6: #FFB25B;
  --color-U-7: #FE5000;
}
@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-SemiLight.eot');
  src: local('../fonts/Abrade/Abrade Semi Light'), local('Abrade-SemiLight'),
    url('../fonts/Abrade/Abrade-SemiLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-SemiLight.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-SemiLight.woff') format('woff'),
    url('../fonts/Abrade/Abrade-SemiLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-ExtraLight.eot');
  src: local('../fonts/Abrade/Abrade Extra Light'), local('Abrade-ExtraLight'),
    url('../fonts/Abrade/Abrade-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-ExtraLight.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-ExtraLight.woff') format('woff'),
    url('../fonts/Abrade/Abrade-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-Black.eot');
  src: local('../fonts/Abrade/Abrade Black'), local('Abrade-Black'),
    url('../fonts/Abrade/Abrade-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-Black.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-Black.woff') format('woff'),
    url('../fonts/Abrade/Abrade-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-BoldItalic.eot');
  src: local('../fonts/Abrade/Abrade Bold Italic'), local('Abrade-BoldItalic'),
    url('../fonts/Abrade/Abrade-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-BoldItalic.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-BoldItalic.woff') format('woff'),
    url('../fonts/Abrade/Abrade-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-Medium.eot');
  src: local('../fonts/Abrade/Abrade Medium'), local('Abrade-Medium'),
    url('../fonts/Abrade/Abrade-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-Medium.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-Medium.woff') format('woff'),
    url('../fonts/Abrade/Abrade-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-Regular.eot');
  src: local('../fonts/Abrade/Abrade Regular'), local('Abrade-Regular'),
    url('../fonts/Abrade/Abrade-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-Regular.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-Regular.woff') format('woff'),
    url('../fonts/Abrade/Abrade-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-ThinItalic.eot');
  src: local('../fonts/Abrade/Abrade Thin Italic'), local('Abrade-ThinItalic'),
    url('../fonts/Abrade/Abrade-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-ThinItalic.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-ThinItalic.woff') format('woff'),
    url('../fonts/Abrade/Abrade-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-BlackItalic.eot');
  src: local('../fonts/Abrade/Abrade Black Italic'), local('Abrade-BlackItalic'),
    url('../fonts/Abrade/Abrade-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-BlackItalic.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-BlackItalic.woff') format('woff'),
    url('../fonts/Abrade/Abrade-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-Light.eot');
  src: local('../fonts/Abrade/Abrade Light'), local('Abrade-Light'),
    url('../fonts/Abrade/Abrade-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-Light.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-Light.woff') format('woff'),
    url('../fonts/Abrade/Abrade-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-Thin.eot');
  src: local('../fonts/Abrade/Abrade Thin'), local('Abrade-Thin'),
    url('../fonts/Abrade/Abrade-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-Thin.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-Thin.woff') format('woff'),
    url('../fonts/Abrade/Abrade-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-Bold.eot');
  src: local('../fonts/Abrade/Abrade Bold'), local('Abrade-Bold'),
    url('../fonts/Abrade/Abrade-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-Bold.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-Bold.woff') format('woff'),
    url('../fonts/Abrade/Abrade-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-SemiBoldItalic.eot');
  src: local('../fonts/Abrade/Abrade Semi Bold Italic'), local('Abrade-SemiBoldItalic'),
    url('../fonts/Abrade/Abrade-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Abrade/Abrade-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-ExtraThin.eot');
  src: local('../fonts/Abrade/Abrade Extra Thin'), local('Abrade-ExtraThin'),
    url('../fonts/Abrade/Abrade-ExtraThin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-ExtraThin.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-ExtraThin.woff') format('woff'),
    url('../fonts/Abrade/Abrade-ExtraThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-SemiLightItalic.eot');
  src: local('../fonts/Abrade/Abrade Semi Light Italic'), local('Abrade-SemiLightItalic'),
    url('../fonts/Abrade/Abrade-SemiLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-SemiLightItalic.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-SemiLightItalic.woff') format('woff'),
    url('../fonts/Abrade/Abrade-SemiLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-ExtraLightItalic.eot');
  src: local('../fonts/Abrade/Abrade Extra Light Italic'), local('Abrade-ExtraLightItalic'),
    url('../fonts/Abrade/Abrade-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-ExtraLightItalic.woff') format('woff'),
    url('../fonts/Abrade/Abrade-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-ExtraBoldItalic.eot');
  src: local('../fonts/Abrade/Abrade Extra Bold Italic'), local('Abrade-ExtraBoldItalic'),
    url('../fonts/Abrade/Abrade-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Abrade/Abrade-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-LightItalic.eot');
  src: local('../fonts/Abrade/Abrade Light Italic'), local('Abrade-LightItalic'),
    url('../fonts/Abrade/Abrade-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-LightItalic.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-LightItalic.woff') format('woff'),
    url('../fonts/Abrade/Abrade-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-MediumItalic.eot');
  src: local('../fonts/Abrade/Abrade Medium Italic'), local('Abrade-MediumItalic'),
    url('../fonts/Abrade/Abrade-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-MediumItalic.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-MediumItalic.woff') format('woff'),
    url('../fonts/Abrade/Abrade-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-ExtraBold.eot');
  src: local('../fonts/Abrade/Abrade Extra Bold'), local('Abrade-ExtraBold'),
    url('../fonts/Abrade/Abrade-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-ExtraBold.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-ExtraBold.woff') format('woff'),
    url('../fonts/Abrade/Abrade-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-ExtraBlackItalic.eot');
  src: local('../fonts/Abrade/Abrade Extra Black Italic'), local('Abrade-ExtraBlackItalic'),
    url('../fonts/Abrade/Abrade-ExtraBlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-ExtraBlackItalic.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-ExtraBlackItalic.woff') format('woff'),
    url('../fonts/Abrade/Abrade-ExtraBlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-SemiBold.eot');
  src: local('../fonts/Abrade/Abrade Semi Bold'), local('Abrade-SemiBold'),
    url('../fonts/Abrade/Abrade-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-SemiBold.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-SemiBold.woff') format('woff'),
    url('../fonts/Abrade/Abrade-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-ExtraBlack.eot');
  src: local('../fonts/Abrade/Abrade Extra Black'), local('Abrade-ExtraBlack'),
    url('../fonts/Abrade/Abrade-ExtraBlack.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-ExtraBlack.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-ExtraBlack.woff') format('woff'),
    url('../fonts/Abrade/Abrade-ExtraBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-Italic.eot');
  src: local('../fonts/Abrade/Abrade Italic'), local('Abrade-Italic'),
    url('../fonts/Abrade/Abrade-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-Italic.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-Italic.woff') format('woff'),
    url('../fonts/Abrade/Abrade-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Abrade';
  src: url('../fonts/Abrade/Abrade-ItalicExtraThin.eot');
  src: local('../fonts/Abrade/Abrade Italic Extra Thin'), local('Abrade-ItalicExtraThin'),
    url('../fonts/Abrade/Abrade-ItalicExtraThin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Abrade/Abrade-ItalicExtraThin.woff2') format('woff2'),
    url('../fonts/Abrade/Abrade-ItalicExtraThin.woff') format('woff'),
    url('../fonts/Abrade/Abrade-ItalicExtraThin.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}


body {
  font-family: 'Abrade', sans-serif !important;
  background: #dee2e6;
  background: -webkit-linear-gradient(to right, #dee2e6, #dee2e6);
  background: linear-gradient(to right, #dee2e6, #dee2e6);
  min-height: 100vh;
}

#bodyUia, #dashFooter{
  font-size: 100%;
}

.card-link:hover .card {
  background-color: #000000;
  border: 1px solid #000000;
}

#infoCard {
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 2%;
  border: 0;
  margin-bottom: 1em;
  position: relative;
}

#infoCard:hover {
  transform: scale(1.05);
}

#infoCard-img-top {
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

#infoCardBody {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}

#infoCardTitle,
#infoCardText {
  color: #000;
  text-decoration: none;
}

.card-link {
  text-decoration: none;
}

.my-4 {
  margin-top: 4rem;
}

.navbar-dark {
  background-color: #333;
}

.btn-default {
  color: #fff;
  /* Cambiar el color del texto a blanco */
}

#btnNavbar:hover {
  background-color: yellow;
}

#infoCardTextModal {
  cursor: default;
}

.select2-container .select2-selection--single {
  width: 100% !important;
  color: #000;
  height: 40px !important;
  padding: 5px;
}

.select2-container .select2-results__option {
  color: black;
}

.select2-selection__arrow {
  display: none;
}

select:required:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}

.main-footer {
  background-color: #1d1d26;
  background-image: url(../img/textura-rayas.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

footer .row a {
  color: #fff;
}

#links,
#links:hover {
  text-decoration: none;
  transition: all .5s ease;
}

.links a {
  text-decoration: none;
}

.links a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
  color: black;
}

.info p {
  padding: 10px;
}

.links h6 {
  padding: 10px;
}

@media (max-width: 991px) {
  .col-md-4 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.logo-hidden {
  display: none;
}

[class*=sidebar-dark] .user-panel {
  border-bottom: none;
}

.line {
  background-color: darkgray;
  opacity: 0.4;
  margin-top: 9.7px;
}


.logo {
  pointer-events: none;
  color: #000;
}

@media screen and (max-width: 767px) {
  .logo {
    white-space: normal;
  }
}

.hidden {
  display: none;
}

.spinner {
  border: 8px solid #f3f3f3;
  /* gris claro */
  border-top: 8px solid #3498db;
  /* azul */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* .brand-link .brand-text {
  font-size: 150%;
}

@media (max-width: 767.98px) {
  .brand-link .brand-text {
      font-size: 16px;
  }
}

@media (max-width: 479px) {
  .brand-link .brand-text {
      font-size: 16px;
  }
} */

.opcion {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

@media (max-width: 767px) {
  .opcion {
    margin-top: auto;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
    /* ajusta el espacio entre el texto y el borde derecho */
  }
}

.sidebar-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.custom-progress {
  position: relative;
  height: 10px;
  background-color: #d8d8d8;
  margin-bottom: 20px;
}

.custom-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #0d6efd;
}

.progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

#img_titulo,
#img_ident,
#img_pasaporte {
  max-width: 100px;
  max-height: 100px;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #d8d8d8;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.rounded-lg {
  border-radius: 1rem;
}

.text-gray {
  color: #000000;
}

div.h4 {
  line-height: 1rem;
}

.dot-flashing {
  background-color: red;
  color: red;
}

.dot-flashing::after {
  background-color: red;
  color: red;
}

.dot-flashing::after {
  background-color: red;
  color: red;
}

.card-deck {
  transition: transform .2s;
  /* Animation */
  cursor: pointer;
}

.card-deck:hover {
  transform: scale(1.1);
}

#btnPoper {
  color: #d8d8d8;
}

.main-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

/* .logout{
  width: 100%;
  position: absolute;
  bottom: 0;
} */

#navCerrar {
  width: auto;
}

.main-sidebar {
  width: 250px;
}

/* .nav-sidebar{
  font-size: 15px;
} */

.fc .fc-toolbar {
  align-items: center;
  display: block;
  justify-content: space-between;
}

.fc-toolbar,
.fc-toolbar.fc-header-toolbar {
  margin: 0;
  padding: 0;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}

.fc .fc-timegrid-col.fc-day-today {
  background-color: transparent !important;
}

.fc-timegrid-slot {
  padding: 2.9px !important;
}

.bg-light-gray {
  background-color: #f7f7f7;
}
#planHeader{
  background-color: white;
  width: 150px;
}
.tablaPlan {
  border-radius: 10px;
  overflow: hidden;
}

.tablaPlan th {
  border-bottom: none;
  background-color: #000;
  color: white;
}

.tablaPlan td {
  font-size: 15px;
    color: black;
    line-height: 1.4;
    background-color: #dddbdc;
}

.tablaPlan #PlanBody table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

#PlanBody td {
  border: solid 1px transparent;
  border-style: solid none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#PlanBody tr {
  overflow: hidden;
    border-bottom: 10px solid #fff;
    border-radius: 10px;
}

.color-box {
  font-size: 20px;
  display: inline-block;
}

.table .thead-light th {
  color: #8898aa;
  border-color: #e9ecef;
  background-color: #f6f9fc;
}

@media only screen and (max-width: 767px) {
  .estado{
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .estado{
    text-align: center;
  }
}

.misCursoTabla {
  border-radius: 10px;
    overflow: hidden;
}

#datosHeader{
  background-color: #000;
  color: white;
}

#datos{
  background-color: #E9F1FD;
}

.buttonCarrera{
  border: none;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 5px;
}

.buttonCarrera:hover{
  background-color: rgba(0, 255, 213, 0.301);
}

#prematriculaBtn{
  font-weight: 500;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 4px 4px 4px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  animation: pulse 2s infinite; /* animación del botón */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

button:hover::before, button:focus::before {
  opacity: 1;
}

@media(max-width: 768px) {
  .mobile-hide {
      display: none !important;
  }
}
#liveToast{
  width: 290px;
}
.toast-header {
  background-color: #7bc5e2;
  color: #000;
}

.accesibilidad.accesibilidad-dark::before {
  right: 0;
  transition: right .3s ease-in-out, display .3s ease-in-out;
}

.accesibilidad-dark {
  background-color: #343a40;
}

aside.accesibilidad {
  position: fixed;
  top: 83px;
  right: 0;
  z-index: 1031;
  width: 250px;
  height: 612px;
  display: none;
  
}

aside.accesibilidad.active {
  right: 0;
  display: block;
}

.accesibilidad-content{
  color: white;
}

#imgMicrosoft{
  max-width: 220px;
  max-height: 55px;
}

.microsoft {
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
  display: flex;
  max-width: 200px;
  max-height: 50px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#img_check {
  max-width: 45px;
  max-height: 45px;
}


.links-container {
  display: flex;
  justify-content: space-between;
}

.left-link {
  margin-right: auto;
}

.right-link {
  margin-left: auto;
}

#zoomIn, #zoomOut, #refres{
  cursor: pointer;
}

#social-sidebar {
  right: 0;
  position: fixed;
  top: 30%;
  z-index: 9999; /* Establece un alto valor de z-index */
}

#social-sidebar li:first-child a {
  border-top-left-radius: 5px;
}

#social-sidebar li:last-child a {
  border-bottom-left-radius: 5px;
}

#social-sidebar a {
  background: rgba(0, 0, 0, .7);
  color: #fff;
  text-decoration: none;
  display: block;
  height: 45px;
  width: 25px;
  font-size: 15px;
  line-height: 50px;
  position: relative;
  text-align: center;
  cursor: pointer;
}

#social-sidebar a:hover span {
  right: 120%;
  opacity: 1;
}

#social-sidebar a span {
  font-size: 12px;
  border-radius: 3px;
  line-height: 24px;
  /* left: -100%; */
  margin-top: -16px;
  opacity: 0;
  padding: 4px 8px;
  position: absolute;
  top: 50%;
}

#social-sidebar a span:before {
  content: "";
  width: 0;
	height: 0;
	border-top: 20px solid #3B5998;
	border-bottom: 20px solid #3B5998;
	border-left: 20px solid#3B5998;
}

#social-sidebar a[class*="facebook"]:hover,
#social-sidebar a[class*="facebook"] span,
#social-sidebar a[class*="facebook"] span:before {
  background: #3B5998;
}

#social-sidebar a[class*="instagram"]:hover,
#social-sidebar a[class*="instagram"] span,
#social-sidebar a[class*="instagram"] span:before {
  background-color:  #e7246b ; /* Color de inicio del degradado */
  background-image: linear-gradient(135deg,  #e7246b ,  #bb399f); /* Degradado de azul a púrpura oscuro */
}

#social-sidebar a[class*="chatBot"]:hover,
#social-sidebar a[class*="chatBot"] span,
#social-sidebar a[class*="chatBot"] span:before {
  background-color:  #74ac9c   ; /* Color de inicio del degradado */
}

.liSocial{
  list-style-type: none; /* Oculta el punto */
}


@media (max-width: 767px) {
  .tablaPlan td {
    background-color: transparent;
  }
  #aprovado{
    background-color: #cdfcba;
  }
  #matriculable{
    background-color: #b8e6fd;
  }
  #noMatriculable{
    background-color: #d1d1cf;
  }
}

#ubicacioT{
  text-align: center;
}

.cardFormularios {
  box-shadow: -1px 15px 30px -10px black;
}

.cardPerfilCol {
  box-shadow: -1px 15px 30px -10px black;
}

.card-wr-bg:hover {
  background-color: #ffcd94;
  cursor: pointer;
  transition: all 1s ease;
  transform: scale(1.04);
}

.card-s-bg:hover {
  background-color: #9b9bc4;
  cursor: pointer;
  transition: all 1s ease;
  transform: scale(1.04);
}

.card-d-bg:hover {
  background-color: #ff8e59;
  cursor: pointer;
  transition: all 1s ease;
  transform: scale(1.04);
}

.card-footer {
  justify-content: space-around;
  text-align: center;
  display: flex;
  padding: 0px !important;
}

.card-footer div {
  flex-grow: 1 !important;
  border-right: 1px solid #dbdbdb;
  padding: 10px 0;
}

.card-footer div:last-child {
  border-right: none;
}

.bg-primerIngreso {
  background-color: var(--color-U-6);
}

.bg-posgrado {
  background-color: var(--color-U-3);
}

.bg-CursosLibres {
  background-color: var(--color-U-7);
}

.border-primerIngreso {
  border-color: var(--color-U-6);
}

.border-posgrado {
  border-color: var(--color-U-3);
}

.border-CursosLibres {
  border-color: var(--color-U-7);
}

#cardFormularios {
  width: 350px;
}

@media (max-width: 320px) and (max-height: 568px) {
  #cardFormularios {
      width: 300px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .cardPerfilCol {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  #rowCardFormulario {
      justify-content: center !important;
  }
}

@media only screen and (max-width: 767px) {
  #rowCardFormulario {
      justify-content: center !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #rowCardFormulario {
      justify-content: unset !important;
  }
  .cardPerfilCol {
    width: 100%; /* Ajusta el valor según tus necesidades */
    padding-left: 25px;
  }
}

.modal_primer_ingreso, .modal_posgrado, .modal_cursolibres{
  max-width: 1200px;
}

#cardContactos{
  width: 100%;
}