{% extends 'Dashboard/dashboard.html' %}
{% load static %}
{% block content %}

<div class="container mt-4 p-0 alltext">
    <div class="row px-md-4 px-2 pt-4">
        <div class="col-lg-8">
            <p class="pb-2 fw-bold titulo">Materias a Matricular</p>
            <div class="card">
                <div>
                    <div class="table-responsive px-md-4 px-2 pt-3">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="border-bottom">
                                    <th>
                                        <div class="ps-3 d-flex flex-column justify-content">
                                            <p class="fw-bold">Codigo</p>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="d-flex align-items-center">
                                            <div class="ps-3 d-flex flex-column justify-content">
                                                <p class="fw-bold">Nombre del Curso</p>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="ps-3 d-flex flex-column justify-content">
                                            <p class="fw-bold">Creditos</p>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="ps-3 d-flex flex-column justify-content">
                                            <p class="fw-bold">Horario</p>
                                        </div>
                                    </th>
                                </tr>
                                {% for clave, data in registro.items %}
                                    <tr class="border-bottom">
                                        <td>
                                            <div class="d-flex align-items-center justify-content-center"> <span
                                                class="pe-3 fw-normal">{{ data.curso }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="ps-3 d-flex flex-column justify-content">
                                                    <p class="fw-normal">{{ data.nombre }}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <p class="pe-3"><span class="red">{{ data.credito }}</span></p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <p class="pe-1"><span class="red">Horario</span></p>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 payment-summary">
            <p class="fw-bold pt-lg-0 pt-4 pb-2 titulo">Resumen de Pago</p>
            <div class="card px-md-3 px-2 pt-4">
                <div class="unregistered mb-4"> <span class="py-1">117580049</span> </div>
                <div class="d-flex flex-column b-bottom">
                    <div class="d-flex justify-content-between"> <small class="text-dark">Subtotal</small>
                        <p>₡132</p>
                    </div>
                    <div class="d-flex justify-content-between py-3"> <small class="text-dark">Descuento Total</small>
                        <p>₡122</p>
                    </div>
                    <div class="d-flex justify-content-between"> <small class="smalltotal">Total</small>
                        <p class="smalltotal">₡132</p>
                    </div>
                </div>
                <div class="sale my-3">
                    <button type="button" class="btn btn-outline-success">Proceder con el Pago</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

    .alltext {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        color: black;
    }

    .card {
        position: relative;
        background: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    }

    .titulo{
        font-size: 18px;
    }

    small {
        font-size: 14px;
    }

    .smalltotal{
        font-size: 16px;
        font-weight: 600;
    }

    .cart {
        line-height: 1;
    }

    td {
        vertical-align: middle;
    }

    .red {
        font-weight: 300;
    }

    .b-bottom {
        border-bottom: 2px dotted black;
        padding-bottom: 20px;
    }

    p {
        margin: 0px;
    }

    table input {
        width: 40px;
        border: 1px solid #eee;
    }

    input:focus {
        border: 1px solid #eee;
        outline: none
    }

    .payment-summary .unregistered {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eee;
        text-transform: uppercase;
        font-size: 14px;
    }

    .payment-summary input {
        width: 100%;
        margin-right: 20px;
    }

    .payment-summary .sale {
        width: 100%;
        text-transform: uppercase;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5PX 0;
    }
    
</style>
{% endblock content %}