{% extends 'Dashboard/dashboard.html' %}
{% load static %}
{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
{% block style_sheets %}
{% endblock %}
{% endblock %}
{% block content %}

<div class="p-2 md-0 mt-lg-5">
    <div class="col-md-12 card cardPerfilCol md-0 mt-lg-5">
        <div class="row p-2">
            <div class="col-lg-8">
                <p id="matriculaP" class="pb-2 fw-bold titulo">Materias a Matricular</p>
                <div class="card">
                    <div class="table-responsive px-md-4 px-2 pt-3">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="border-bottom">
                                    <th>
                                        <div class="ps-3 d-flex flex-column justify-content">
                                            <p id="matriculaP" class="fw-bold">Codigo</p>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="d-flex align-items-center">
                                            <div class="ps-3 d-flex flex-column justify-content">
                                                <p id="matriculaP" class="fw-bold">Nombre del Curso</p>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="ps-3 d-flex flex-column justify-content">
                                            <p id="matriculaP" class="fw-bold">Creditos</p>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="ps-3 d-flex flex-column justify-content">
                                            <p id="matriculaP" class="fw-bold">Horario</p>
                                        </div>
                                    </th>
                                </tr>
                                {% for clave, data in registro.items %}
                                <tr class="border-bottom">
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center"> <span
                                                class="pe-3 fw-normal">{{ data.curso }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="ps-3 d-flex flex-column justify-content">
                                                <p id="matriculaP" class="fw-normal">{{ data.nombre }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <p id="matriculaP" class="pe-3"><span class="red">{{ data.credito }}</span></p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <p id="matriculaP" class="pe-1"><span class="red">Horario</span></p>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 payment-summary">
                <p id="matriculaP" class="fw-bold pt-lg-0 pt-4 pb-2 titulo">Resumen de Pago</p>
                <div class="card px-md-3 px-2 pt-4">
                    <div class="unregistered mb-4"> <span class="py-1">{{ user.username }}</span> </div>
                    <div class="d-flex flex-column b-bottom">
                        <div class="d-flex justify-content-between"> <small class="text-dark">Subtotal</small>
                            <p id="matriculaP">₡{{ pago.subtotal }}</p>
                        </div>
                        <div class="d-flex justify-content-between py-3"> <small class="text-dark">Descuento Total</small>
                            <p id="matriculaP">₡{{ pago.descuentoTotal }}</p>
                        </div>
                        <div class="d-flex justify-content-between"> <small class="smalltotal">Total</small>
                            <p id="matriculaP" class="smalltotal">₡{{ pago.preMatricula }}</p>
                        </div>
                    </div>
                    <div class="sale my-3">
                        <a type="button" class="btn btn-success" href="{% url 'payment_prospecto' type=type id=id status=status %}">Proceder con el Pago</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}