{% extends 'Dashboard/dashboard.html' %}
{% load static %}
{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
{% block style_sheets %}
<script src="{% static 'js/pluginJs/progressbar.min.js' %}"></script>
<script src="{% static 'js/planEstudio.js' %}"></script>
{% endblock %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center mt-3">
        <div class="form-group col-md-6 col-sm-4 ">
            <div id="idP" hidden>{{ id }}</div>
            <div id="StatusP" hidden>{{ status }}</div>
            <label for="carrera"><i class=""> Seleccione un Pla de Estudio</i></label>
            <select id="carrera" class="form-select" name="carrera">
                <option value="" disabled selected hidden>Seleccione un Plan de Estudio</option>
                <option value="{{ carrera.data.principal }}">{{ carrera.data.principal }}</option>
                {% if carrera.data.secundarios %}
                {% for secundario in carrera.data.secundarios %}
                <option value="{{ secundario }}">{{ secundario }}</option>
                {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow p-2">
                <div class="row">
                    <div class="col-md-12 estado"></div>
                    <div class="col-md-12" id="opciones">
                        <div class="row justify-content-center">
                            <div class="col-md-4" style="text-align:center;">
                                <i class="bi bi-check-lg color-box" style="color: #3bb80a;"></i>
                                <p class="mb-0" style="display: inline-block;">Curso aprobado</p>
                            </div>
                            <div class="col-md-4" style="text-align:center;">
                                <i class="bi bi-plus-lg color-box" style="color: #006a9f;"></i>
                                <p class="mb-0" style="display: inline-block;">Cursos matriculables</p>
                            </div>
                            <div class="col-md-4" style="text-align:center;">
                                <i class="bi bi-x-lg color-box" style="color: #83877b;"></i>
                                <p class="mb-0" style="display: inline-block;">No cumple con los requisitos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="mainTable">
        </div>
    </div>
    <div class="position-fixed bottom-0 start-50 translate-middle-x p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="bi bi-info-circle-fill "></i>
                <span class="ml-2" id="toastContent"></span>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
<br>
{% block modal_prematricula %}
<div class="modal fade" id="modal_prematricula" tabindex="-1" aria-labelledby="modal_prematriculaTitle"
    style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_prematriculaTitle">
                    Prematricula
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><span class="icon-close2"></span></span>
                </button>
            </div>
            <div class="modal-body" id="prematriculaBody">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-body table-responsive px-md-4 px-2 pt-3">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr class="border-bottom">
                                            <th>
                                                <div class="ps-3 d-flex flex-column justify-content">
                                                    <p class="fw-bold"></p>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="ps-3 d-flex flex-column justify-content">
                                                    <p class="fw-bold">Curso</p>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="d-flex align-items-center">
                                                    <div class="ps-3 d-flex flex-column justify-content">
                                                        <p class="fw-bold">Nombre Curso</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="ps-3 d-flex flex-column justify-content">
                                                    <p class="fw-bold">Creditos</p>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="premTablaBody">
                                    </tbody>
                                </table>
                                <div class="d-grid d-flex justify-content-center mt-2">
                                    <button type="submit" class=" btn btn-sm btn-primary btn-login"
                                        id="enviarPrematricula"> Enviar Prematricula</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock modal_prematricula %}

{% block modal_levantamiento %}
<div class="modal fade" id="modal_levantamiento" tabindex="-1" aria-labelledby="modal_levantamientoTitle"
    style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_prematriculaTitle">
                    Levantamiento de Requisito
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><span class="icon-close2"></span></span>
                </button>
            </div>
            <div class="modal-body" id="levantamientoBody">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-body px-md-4 px-2 pt-3">
                                <form method="POST" class="row g-3" enctype="multipart/form-data" action="{% url 'enviar_solicitud' %}">
                                    {% csrf_token %}
                                    <div class="form-floating mb-3 col-md-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control " id="cursoModal" placeholder="Curso" name="cursoModal" value="" disabled required>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 col-md-12">
                                        <div class="input-group">
                                            <textarea type="text" class="form-control " id="descripcionModal" placeholder="Descripcion" name="descripcionModal" rows="7" required></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock modal_levantamiento %}

{% endblock content %}