{% extends 'Dashboard/dashboard.html' %}
{% load static %}
{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
{% block style_sheets %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js"></script>
<script src="{% static 'js/tarjetaJs.js' %}"></script>
{% endblock %}
{% endblock %}
{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-12">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4">
                    <div class="cardTarjeta flip" id="flip">
                        <div class="frente">
                            <div id="ccsingle"></div>
                            <svg version="1.1" id="cardfront" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 750 472"
                                style="enable-background:new 0 0 750 471;" xml:space="preserve">
                                <defs>
                                    <clipPath id="rounded-border">
                                        <rect x="0" y="0" width="750" height="472" rx="20" ry="20" />
                                    </clipPath>
                                </defs>
                                <image xlink:href="{% static 'img/UIA/front.png' %}" clip-path="url(#rounded-border)"
                                    width="750" height="472"></image>
                                <g id="Front">
                                    <text transform="matrix(1 0 0 1 60.106 295.0121)" id="svgnumber"
                                        class="st2 st3 st4">0123 4567 8910 1112</text>
                                    <text transform="matrix(1 0 0 1 54.1064 428.1723)" id="svgname"
                                        class="st2 st5 st6">JOHN DOE</text>
                                    <text transform="matrix(1 0 0 1 54.1074 389.8793)" class="st7 st5 st8">Titular de la
                                        tarjeta</text>
                                    <text transform="matrix(1 0 0 1 479.7754 388.8793)" class="st7 st5 st8">Fecha de
                                        expiración</text>
                                    <text transform="matrix(1 0 0 1 65.1054 241.5)" class="st7 st5 st8">Número de
                                        tarjeta</text>
                                    <g>
                                        <text transform="matrix(1 0 0 1 574.4219 433.8095)" id="svgexpire"
                                            class="st2 st5 st9">01/23</text>
                                        <text transform="matrix(1 0 0 1 479.3848 417.0097)"
                                            class="st2 st10 st11">VALID</text>
                                        <text transform="matrix(1 0 0 1 479.3848 435.6762)"
                                            class="st2 st10 st11">THRU</text>
                                        <polygon class="st2" points="554.5,421 540.4,414.2 540.4,427.9 		" />
                                    </g>
                                    <g id="cchip">
                                        <g>
                                            <path class="st2" d="M168.1,143.6H82.9c-10.2,0-18.5-8.3-18.5-18.5V74.9c0-10.2,8.3-18.5,18.5-18.5h85.3
                    c10.2,0,18.5,8.3,18.5,18.5v50.2C186.6,135.3,178.3,143.6,168.1,143.6z" />
                                        </g>
                                        <g>
                                            <g>
                                                <rect x="82" y="70" class="st12" width="1.5" height="60" />
                                            </g>
                                            <g>
                                                <rect x="167.4" y="70" class="st12" width="1.5" height="60" />
                                            </g>
                                            <g>
                                                <path class="st12" d="M125.5,130.8c-10.2,0-18.5-8.3-18.5-18.5c0-4.6,1.7-8.9,4.7-12.3c-3-3.4-4.7-7.7-4.7-12.3
                        c0-10.2,8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5c0,4.6-1.7,8.9-4.7,12.3c3,3.4,4.7,7.7,4.7,12.3
                        C143.9,122.5,135.7,130.8,125.5,130.8z M125.5,70.8c-9.3,0-16.9,7.6-16.9,16.9c0,4.4,1.7,8.6,4.8,11.8l0.5,0.5l-0.5,0.5
                        c-3.1,3.2-4.8,7.4-4.8,11.8c0,9.3,7.6,16.9,16.9,16.9s16.9-7.6,16.9-16.9c0-4.4-1.7-8.6-4.8-11.8l-0.5-0.5l0.5-0.5
                        c3.1-3.2,4.8-7.4,4.8-11.8C142.4,78.4,134.8,70.8,125.5,70.8z" />
                                            </g>
                                            <g>
                                                <rect x="82.8" y="82.1" class="st12" width="25.8" height="1.5" />
                                            </g>
                                            <g>
                                                <rect x="82.8" y="117.9" class="st12" width="26.1" height="1.5" />
                                            </g>
                                            <g>
                                                <rect x="142.4" y="82.1" class="st12" width="25.8" height="1.5" />
                                            </g>
                                            <g>
                                                <rect x="142" y="117.9" class="st12" width="26.2" height="1.5" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                                <g id="Back">
                                </g>
                            </svg>
                        </div>
                        <div class="atras">

                            <svg version="1.1" id="cardback" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 750 472"
                                style="enable-background:new 0 0 750 471;" xml:space="preserve">
                                <defs>
                                    <clipPath id="rounded-border">
                                        <rect x="0" y="0" width="750" height="472" rx="20" ry="20" />
                                    </clipPath>
                                </defs>
                                <image xlink:href="{% static 'img/UIA/back.png' %}" clip-path="url(#rounded-border)"
                                    width="750" height="472"></image>
                                <g id="Front">
                                    <line class="st0" x1="35.3" y1="10.4" x2="36.7" y2="11" />
                                </g>
                                <g id="Back">
                                    <g id="Page-1_2_">
                                        <g id="amex_2_">
                                            <path id="Rectangle-1_2_" class="darkcolor greydark" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40
                                    C0,17.9,17.9,0,40,0z" fill="none" />
                                        </g>
                                    </g>
                                    <rect y="61.6" class="st2" width="750" height="78" />
                                    <g>
                                        <path class="st3" d="M701.1,249.1H48.9c-3.3,0-6-2.7-6-6v-52.5c0-3.3,2.7-6,6-6h652.1c3.3,0,6,2.7,6,6v52.5
                                C707.1,246.4,704.4,249.1,701.1,249.1z" />
                                        <rect x="42.9" y="198.6" class="st4" width="664.1" height="10.5" />
                                        <rect x="42.9" y="224.5" class="st4" width="664.1" height="10.5" />
                                        <path class="st5"
                                            d="M701.1,184.6H618h-8h-10v64.5h10h8h83.1c3.3,0,6-2.7,6-6v-52.5C707.1,187.3,704.4,184.6,701.1,184.6z" />
                                    </g>
                                    <text transform="matrix(1 0 0 1 621.999 227.2734)" id="svgsecurity"
                                        class="st6 st7">985</text>
                                    <g class="st8">
                                        <text transform="matrix(1 0 0 1 518.083 280.0879)"
                                            class="st9 st6 st10">CVV</text>
                                    </g>
                                    <rect x="58.1" y="378.6" class="st11" width="375.5" height="13.5" />
                                    <rect x="58.1" y="405.6" class="st11" width="421.7" height="13.5" />
                                    <text transform="matrix(1 0 0 1 59.5073 228.6099)" id="svgnameback"
                                        class="st12 st13">John Doe</text>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="card mt-5">
                        <div class="card-body">
                            <img src="{% static 'img/tarjetas.png' %}" width="350" height="75">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <h2 id="titleMatricula">Pago de Matricula</h2>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="cardInput">Número de la Tarjeta</label>
                                <input required class="input card-input_field form-control" id="cardInput"
                                    oninput="getNumber();">
                                <svg id="ccicon" class="ccicon" width="750" height="471" viewBox="0 0 750 471"
                                    version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">

                                </svg>
                            </div>
                            <div class="form-group">
                                <label for="cardHolderInput">Títular de la Tarjeta</label>
                                <input required class="card-input_field form-control" id="cardHolderInput">
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="monthInput">Fecha de Expiración</label>
                                        <select required name="" class="form-control card-input_field" id="monthInput">
                                            <option class="disabled" readonly>Month</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="yearInput">Año</label>
                                        <select required name="" class="form-control card-input_field" id="yearInput" onchange="getDate();">
                                            <option class="disabled" readonly>Year</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="cvvInput">CVV</label>
                                        <input required type="text" class="form-control card-input_field" id="cvvInput" oninput="getCvv();">
                                    </div>
                                </div>
                            </div>
                            <form class="row g-3" name="CredomaticPost" method="POST"
                                action="https://credomatic.compassmerchantsolutions.com/api/transact.php">
                                {% csrf_token %}
                                <div class="row mt-3" style="display: none;">
                                    <div class="form-floating mb-3 col-md-4" id="dis_type">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="type" name="type" readonly
                                                value="sale">
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4" id="dis_key_id">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="key_id" name="key_id" readonly
                                                value="">
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4" id="dis_hash">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="hash" name="hash" value=""
                                                readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3" style="display: none;">
                                    <div class="form-floating mb-3 col-md-4" id="dis_time">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="time" name="time" value=""
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4" id="dis_amount">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="amount" name="amount"
                                                value="5.00" readonly>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4" id="dis_orderid">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="orderid" name="orderid"
                                                value="{{ orderid }}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3" style="display: none;">
                                    <div class="form-floating mb-3 col-md-4" id="dis_processor_id">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="processor_id"
                                                name="processor_id" value="" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3" style="display: none;">
                                    <div class="form-floating mb-3 col-md-4" id="dis_ccnumber">
                                        <input type="text" class="form-control" id="ccnumber" name="ccnumber" value="" required>
                                        <label for="ccnumber">Numbero de tarjeta</label>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4" id="dis_ccexp">
                                        <input type="text" class="form-control" id="ccexp" name="ccexp" value="" required>
                                        <label for="ccexp">Fecha de expiración</label>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4" id="dis_cvv">
                                        <input type="text" class="form-control" id="cvv" name="cvv" value="" required>
                                        <label for="cvv">CVV</label>
                                    </div>
                                </div>
                                <div class="row mt-2" style="display: none;">
                                    <div class="form-floating mb-3 col-md-4" id="dis_avs">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="avs" name="avs"
                                                value="12 Calle San Jose" readonly>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 col-md-4" id="dis_redirect" style="display: block;">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="redirect" name="redirect"
                                                value="http://localhost:8000/prospecto/{{ id }}/{{ status }}/pago-realizado/"
                                                readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-md btn-primary" type="submit">Pagar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block scripts %}
<script src="{% static 'js/payment.js' %}"></script>
{% if llamar_time %}
<script>
    window.onload = function () {
        time(); // Llama al método time() al cargar la página
        keyID();
        hashEntrada();
    };

    function getNumber() {
        var number = document.getElementById('cardInput');
        var value = number.value.replace(/\s/g, "");
        var numberForm = document.getElementById('ccnumber');
        numberForm.value = value;
    }

    function getDate() {
        var month = document.getElementById('monthInput');
        var year = document.getElementById('yearInput');
        var date = month.value + year.value.slice(-2);
        var dateForm = document.getElementById('ccexp');
        dateForm.value = date;

    }

    function getCvv() {
        var cvv = document.getElementById('cvvInput');
        var cvvForm = document.getElementById('cvv');
        cvvForm.value = cvv.value;
    }
</script>
{% endif %}
{% endblock %}
{% endblock content %}