{% extends 'Dashboard/dashboard.html' %}
{% load static %}
{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
{% block style_sheets %}
<script src="{% static 'js/form.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/pluginCss/three-dots.min.css' %}">
{% endblock %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <!-- For demo purpose -->
        <div class="col-lg-12 mx-auto text-black text-center">
            <h1 class="display-8">Proceso de Admisión de Primer Ingreso</h1>
            <p class="lead mb-0">Las barras de proceso indicaran la etapa y estado en el que se encuentra tu admisión.
            </p>
            <p class="lead">Para mas detalles, tramites y consultas, llame al: 2212-5500 ext: 600</p>
        </div>
        <!-- END -->

        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card shadow bg-white rounded-lg">
                    <div class="card-body">
                        <h4>Estado Actual: <span id="estado">{{ estado }}</span></h4>
                        <p id="comentarios" class="font-italic text-muted">{{ comentario }}</p>

                        <!-- Custom styled progress bar-->
                        <div class="custom-progress">
                            <div id="barra_progreso" class="custom-progress-bar" style="width: 0%;"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- For demo purpose -->
        <div class="col-lg-12 mx-auto mb-5 text-black text-center">
            <h2 class="display-10">Archivos Subidos</h2>
            <p class="lead mb-0">Si desea visualizar el archivo puede posicionarse en el icono: <span class="bi bi-box-arrow-up-right "></span>
            </p>
            <p class="lead mb-0">Si algun archivo debe ser corregido, te indicaremos con una X el archivo a corregir.
            </p>
        </div>
        <!-- END -->
        <div class="container">
            <div class="row justify-content-center align-items-center">

                <div class="col-xl-2 col-lg-6 mb-2">
                    {% if documentos.tituloeducacion %}
                    <div class="card-deck" id="btnINT">
                        <div class="card shadow p-2" id="cardT">
                            <h2 class="h6 font-weight-bold text-center mb-3">Tít. de Educ Media <span
                                    class="bi bi-box-arrow-up-right linkTitulo"></h2>
                            <input type="hidden" id="tituloTF" value="{{ documentos.tituloeducacion }}">
                            <div
                                class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold d-flex align-items-center justify-content-center"
                                    style="width: 10px; height: 10px;">
                                    <img id="img_titulo" class=" mb-2" src="" alt="">
                                    <div id="spinner1" class="snippet" data-title="dot-flashing">
                                        <div class="stage">
                                            <div class="dot-flashing"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else%}
                    <div class="card-deck" id="btnINT" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <div class="card shadow p-2" id="cardT">
                            <h2 class="h6 font-weight-bold text-center mb-3">Tít. de Educ Media <span
                                    class="bi bi-box-arrow-up-right linkTitulo"></h2>
                            <input type="hidden" id="tituloTF" value="{{ documentos.tituloeducacion }}">
                            <div
                                class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold d-flex align-items-center justify-content-center"
                                    style="width: 10px; height: 10px;">
                                    <img id="img_titulo" class=" mb-2" src="" alt="">
                                    <div id="spinner1" class="snippet" data-title="dot-flashing">
                                        <div class="stage">
                                            <div class="dot-flashing"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-xl-2 col-lg-6 mb-2">
                    {% if documentos.identificacion %}
                    <div class="card-deck" id="btnINI">
                        <div class="card shadow p-2" id="cardI">
                            <h2 class="h6 font-weight-bold text-center mb-3">Identificación <span
                                    class="bi bi-box-arrow-up-right linkIdentificacion"></h2>
                            <input type="hidden" id="identificacionTF" value="{{ documentos.identificacion }}">
                            <div
                                class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold d-flex align-items-center justify-content-center"
                                    style="width: 10px; height: 10px;">
                                    <img id="img_ident" src="" alt="">
                                    <div id="spinner2" class="snippet" data-title="dot-flashing">
                                        <div class="stage">
                                            <div class="dot-flashing"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else%}
                    <div class="card-deck" id="btnINI" data-bs-toggle="modal" data-bs-target="#exampleModal">

                        <div class="card shadow p-2" id="cardI">
                            <h2 class="h6 font-weight-bold text-center mb-3">Identificación <span
                                    class="bi bi-box-arrow-up-right linkIdentificacion"></h2>
                            <input type="hidden" id="identificacionTF" value="{{ documentos.identificacion }}">
                            <div
                                class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold d-flex align-items-center justify-content-center"
                                    style="width: 10px; height: 10px;">
                                    <img id="img_ident" src="" alt="">
                                    <div id="spinner2" class="snippet" data-title="dot-flashing">
                                        <div class="stage">
                                            <div class="dot-flashing"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-xl-2 col-lg-6 mb-2">
                    {% if documentos.foto %}
                    <div class="card-deck" id="btnINF">
                        <div class="card shadow p-2" id="cardF">
                            <h2 class="h6 font-weight-bold text-center mb-3">Foto Pasaporte <span
                                    class="bi bi-box-arrow-up-right linkFoto"></span></h2>
                            <input type="hidden" id="fotoTF" value="{{ documentos.foto }}">
                            <div
                                class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold d-flex align-items-center justify-content-center"
                                    style="width: 10px; height: 10px;">
                                    <img id="img_pasaporte" class=" mb-2" src="" alt="">
                                    <div id="spinner3" class="snippet" data-title="dot-flashing">
                                        <div class="stage">
                                            <div class="dot-flashing"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else%}
                    <div class="card-deck" id="btnINF" data-bs-toggle="modal" data-bs-target="#exampleModal">

                        <div class="card shadow p-2" id="cardF">
                            <h2 class="h6 font-weight-bold text-center mb-3">Foto Pasaporte <span
                                    class="bi bi-box-arrow-up-right linkFoto"></h2>
                            <input type="hidden" id="fotoTF" value="{{ documentos.foto }}">
                            <div
                                class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold d-flex align-items-center justify-content-center"
                                    style="width: 10px; height: 10px;">
                                    <img id="img_pasaporte" class=" mb-2" src="" alt="">
                                    <div id="spinner3" class="snippet" data-title="dot-flashing">
                                        <div class="stage">
                                            <div class="dot-flashing"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-xl-2 col-lg-6 mb-2" id="div_convalidacion" style="display: none;">
                    <input type="hidden" id="conv" value="{{ convalidacion }}">
                    {% if documentos.notas %}
                    <div class="card-deck" id="btnINN">
                        <div class="card shadow p-2" id="cardN">
                            <h2 class="h6 font-weight-bold text-center mb-3">Cert. de Notas <span
                                    class="bi bi-box-arrow-up-right linkNota"></h2>
                            <input type="hidden" id="notaTF" value="{{ documentos.notas }}">
                            <div
                                class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold d-flex align-items-center justify-content-center"
                                    style="width: 10px; height: 10px;">
                                    <img id="img_notas" class=" mb-2" src="" alt="">
                                    <div id="spinner4" class="snippet" data-title="dot-flashing">
                                        <div class="stage">
                                            <div class="dot-flashing"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else%}
                    <div class="card-deck" id="btnINN" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <div class="card shadow p-2" id="cardN">
                            <h2 class="h6 font-weight-bold text-center mb-3">Cert. de Notas <span
                                    class="bi bi-box-arrow-up-right linkNota"></h2>
                            <input type="hidden" id="notaTF" value="{{ documentos.notas }}">
                            <div
                                class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold d-flex align-items-center justify-content-center"
                                    style="width: 10px; height: 10px;">
                                    <img id="img_notas" class=" mb-2" src="" alt="">
                                    <div id="spinner4" class="snippet" data-title="dot-flashing">
                                        <div class="stage">
                                            <div class="dot-flashing"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-xl-2 col-lg-6 mb-2" id="div_convalidacion2" style="display: none;">
                    {% if documentos.plan %}
                    <div class="card-deck" id="btnINP">
                        <div class="card shadow p-2" id="cardP">
                            <h2 class="h6 font-weight-bold text-center mb-3">Plan de Estudio <span
                                    class="bi bi-box-arrow-up-right linkPlan"></h2>
                            <input type="hidden" id="planTF" value="{{ documentos.plan }}">
                            <div
                                class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold d-flex align-items-center justify-content-center"
                                    style="width: 10px; height: 10px;">
                                    <img id="img_estudio" class=" mb-2" src="" alt="">
                                    <div id="spinner5" class="snippet" data-title="dot-flashing">
                                        <div class="stage">
                                            <div class="dot-flashing"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else%}
                    <div class="card-deck" id="btnINP" data-bs-toggle="modal" data-bs-target="#exampleModal">

                        <div class="card shadow p-2" id="cardP">
                            <h2 class="h6 font-weight-bold text-center mb-3">Plan de Estudio <span
                                    class="bi bi-box-arrow-up-right linkPlan"></h2>
                            <input type="hidden" id="planTF" value="{{ documentos.plan }}">
                            <div
                                class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold d-flex align-items-center justify-content-center"
                                    style="width: 10px; height: 10px;">
                                    <img id="img_estudio" class=" mb-2" src="" alt="">
                                    <div id="spinner5" class="snippet" data-title="dot-flashing">
                                        <div class="stage">
                                            <div class="dot-flashing"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% block modal_archivos %}
    <div style="display: none;">
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalTitle" style="display: none"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalTitleTitle">
                        Subir nuevo archivo
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><span class="icon-close2"></span></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'corregir_data' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input hidden id="documentocargado" name="documentocargado" type="text" value="">
                        <div class="row text-center mt-4" id="div_titulo" style="display: none;">
                            <h5 class="card-title text-center mb-5 fw-light fs-5 fw-bold"> Tít. de
                                Educ Media </h5>
                            <input class="form-control mb-2" style="opacity: 0.65" type="file" id="floatingFile"
                                name="titulo" />
                            <div class="text-center">
                                <button id="btn_cambiarestado_titulo" type="submit"
                                    class="btn btn-primary btn-sm rounded fw-bold">Cargar</button>
                            </div>
                        </div>
                        <div class="row text-center mt-4" id="div_identificacion" style="display: none;">
                            <h5 class="card-title text-center mb-5 fw-light fs-5 fw-bold">
                                Identificación </h5>
                            <input class="form-control mb-2" style="opacity: 0.65" type="file" id="floatingFile"
                                name="identificacion" />
                            <div class="text-center">
                                <button id="btn_cambiarestado_ident"
                                    class="btn btn-primary btn-sm rounded fw-bold">Cargar</button>
                            </div>
                        </div>
                        <div class="row text-center mt-4" id="div_pasaporte" style="display: none;">
                            <h5 class="card-title text-center mb-5 fw-light fs-5 fw-bold"> Foto Tipo
                                Pasaporte </h5>
                            <input class="form-control mb-2" style="opacity: 0.65" type="file" id="floatingFile"
                                name="pasaporte" />
                            <div class="text-center">
                                <button id="btn_cambiarestado_foto"
                                    class="btn btn-primary btn-sm rounded fw-bold">Cargar</button>
                            </div>
                        </div>
                        <div class="row text-center mt-4" id="div_notas" style="display: none;">
                            <h5 class="card-title text-center mb-5 fw-light fs-5 fw-bold"> Cert. de
                                Notas </h5>
                            <input class="form-control mb-2" style="opacity: 0.65" type="file" id="floatingFile"
                                name="notas" />
                            <div class="text-center">
                                <button id="btn_cambiarestado_notas"
                                    class="btn btn-primary btn-sm rounded fw-bold">Cargar</button>
                            </div>
                        </div>
                        <div class="row text-center mt-4" id="div_estudio" style="display: none;">
                            <h5 class="card-title text-center mb-5 fw-light fs-5 fw-bold"> Plan de
                                Estudio </h5>
                            <input class="form-control mb-2" style="opacity: 0.65" type="file" id="floatingFile"
                                name="planestudio" />
                            <div class="text-center">
                                <button id="btn_cambiarestado_estudio"
                                    class="btn btn-primary btn-sm rounded fw-bold">Cargar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock modal_archivos %}

    {% block modal_visualizarArchivo %}
    <div class="modal fade" id="modalArchivoTitulo" tabindex="-1" aria-labelledby="modalArchivoTituloTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalArchivoTituloTitle">
                        Visualizar archivo
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><span class="icon-close2"></span></span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2>Titulo</h2>
                    {% if data_type.0 == 'pdf' %}
                        <iframe src="data:application/pdf;base64,{{ data_content.0 }}#toolbar=0" width="100%" height="600px"></iframe>
                    {% endif %}
                    {% if data_type.0 == 'jpeg' %}
                        <img src="data:image/jpeg;base64,{{ data_content.0 }}" alt="Imagen JPEG">
                    {% endif %}
                    {% if data_type.0 == 'png' %}
                        <img src="data:image/png;base64,{{ data_content.0 }}" alt="Imagen PNG">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalArchivoIdentificacion" tabindex="-1" aria-labelledby="modalArchivoIdentificacionTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalArchivoIdentificacionTitle">
                        Visualizar archivo
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><span class="icon-close2"></span></span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2>Identificaion</h2>
                    {% if data_type.1 == 'pdf' %}
                        <iframe src="data:application/pdf;base64,{{ data_content.1 }}#toolbar=0" width="100%" height="600px"></iframe>
                    {% endif %}
                    {% if data_type.1 == 'jpeg' %}
                        <img src="data:image/jpeg;base64,{{ data_content.1 }}" alt="Imagen JPEG">
                    {% endif %}
                    {% if data_type.1 == 'png' %}
                        <img src="data:image/png;base64,{{ data_content.1 }}" alt="Imagen PNG">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalArchivoFoto" tabindex="-1" aria-labelledby="modalArchivoFotoTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalArchivoFotoTitle">
                        Visualizar archivo
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><span class="icon-close2"></span></span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2>Foto</h2>
                    {% if data_type.2 == 'pdf' %}
                        <iframe src="data:application/pdf;base64,{{ data_content.2 }}#toolbar=0" width="100%" height="600px"></iframe>
                    {% endif %}
                    {% if data_type.2 == 'jpeg' %}
                        <img src="data:image/jpeg;base64,{{ data_content.2 }}" alt="Imagen JPEG">
                    {% endif %}
                    {% if data_type.2 == 'png' %}
                        <img src="data:image/png;base64,{{ data_content.2 }}" alt="Imagen PNG">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalArchivoNota" tabindex="-1" aria-labelledby="modalArchivoNotaTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalArchivoNotaTitle">
                        Visualizar archivo
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><span class="icon-close2"></span></span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2>Nota</h2>
                    {% if data_type.3 == 'pdf' %}
                        <iframe src="data:application/pdf;base64,{{ data_content.3 }}#toolbar=0" width="100%" height="600px"></iframe>
                    {% endif %}
                    {% if data_type.3 == 'jpeg' %}
                        <img src="data:image/jpeg;base64,{{ data_content.3 }}" alt="Imagen JPEG">
                    {% endif %}
                    {% if data_type.3 == 'png' %}
                        <img src="data:image/png;base64,{{ data_content.3 }}" alt="Imagen PNG">
                    {% endif %}
                    {% if data_type.3 == 'N/A' %}
                        <h5>Sin Contenido</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalArchivoPlan" tabindex="-1" aria-labelledby="modalArchivoPlanTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalArchivoPlanTitle">
                        Visualizar archivo
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><span class="icon-close2"></span></span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2>planestudio</h2>
                    {% if data_type.4 == 'pdf' %}
                        <iframe src="data:application/pdf;base64,{{ data_content.4 }}#toolbar=0" width="100%" height="600px"></iframe>
                    {% endif %}
                    {% if data_type.4 == 'jpeg' %}
                        <img src="data:image/jpeg;base64,{{ data_content.4 }}" alt="Imagen JPEG">
                    {% endif %}
                    {% if data_type.4 == 'png' %}
                        <img src="data:image/png;base64,{{ data_content.4 }}" alt="Imagen PNG">
                    {% endif %}
                    {% if data_type.4 == 'N/A' %}
                        <h5>Sin Contenido</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock modal_visualizarArchivo %}
</div>
<br>
<br>
{% endblock content %}