{% extends 'Dashboard/dashboard.html' %}
{% load static %}
{% block content %}
<div class="container py-2">
    <div class="row justify-content-center">
        <!-- For demo purpose -->
        <div class="col-lg-12 mx-auto mb-3 text-black text-center">
            <h1 class="display-4">Proceso de Admisión de Primer Ingreso</h1>
            <p class="lead mb-0">Las barras de proceso indicaran la etapa y estado en el que se encuentra tu admisión.
            </p>
            <p class="lead">Para mas detalles, dudas y consultas, llame al: 2212-5500 ext: 600</p>
        </div>
        <!-- END -->

        <div class="row py-2">
            <div class="col-lg-12 mx-auto">
                <div class="card shadow mb-3 bg-white rounded-lg">
                    <div class="card-body p-5">
                        <h4>Estado Actual: <span id="estado">{{ estado }}</span></h4>
                        <p id="comentarios" class="font-italic text-muted">{{ comentario }}</p>

                        <!-- Custom styled progress bar-->
                        <div class="custom-progress">
                            <div id="barra_progreso" class="custom-progress-bar" style="width: 0%;"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- For demo purpose -->
        <div class="col-lg-12 mx-auto mb-5 text-black text-center">
            <h2 class="display-10">Archivos Subidos</h2>
            <p class="lead mb-0">Si algun archivo debe ser corregido, te indicaremos con una X el archivo a corregir.
            </p>
        </div>
        <!-- END -->
        
        <form method="POST" action="{% url 'corregir_data' %}">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div style="display: none;">
                        <input id="documentocargado" name="documentocargado" type="text" value="">
                    </div>

                    <div class="col-xl-3 col-lg-6 mb-4 mx-auto">
                        <div class="bg-white rounded-lg p-5 shadow">
                            <h2 class="h6 font-weight-bold text-center mb-4">Tít. de Educ Media</h2>
                            <input type="hidden" id="tituloTF" value="{{ documentos.tituloeducacion }}">
                            <!-- Progress bar 1 -->
                            <div class="progress mx-auto" data-value='50' id="div_progre_titulo">
                                <span class="progress-left">
                                    <span id="titulo1" class="progress-bar border-primary"></span>
                                </span>
                                <span class="progress-right">
                                    <span id="titulo2" class="progress-bar border-primary"></span>
                                </span>
                                <div
                                    class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                    <div class="h2 font-weight-bold">
                                        <img id="img_titulo" src="{% static 'img/pendiente.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- END -->

                            <!-- Demo info -->
                            <div class="row text-center mt-4" id="div_titulo" style="display: none;">
                                <label for="archivo">Subir Archivo</label>
                                <input class="form-control" style="opacity: 0.65" type="file" id="floatingFile" name="titulo" value="titulo"/>
                                <div class="text-center mt-2">
                                    <button id="btnT" class="btn btn-primary btn-sm rounded fw-bold">Cargar</button>
                                </div>
                            </div>
                            <!-- END -->
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 mb-4 mx-auto">
                        <div class="bg-white rounded-lg p-5 shadow">
                            <h2 class="h6 font-weight-bold text-center mb-4">Identificación</h2>
                            <input type="hidden" id="identificacionTF" value="{{ documentos.identificacion }}">
                            <!-- Progress bar 2 -->
                            <div class="progress mx-auto" data-value='50' id="div_progre_ident">
                                <span class="progress-left">
                                    <span id="identificacion1" class="progress-bar border-primary"></span>
                                </span>
                                <span class="progress-right">
                                    <span id="identificacion2" class="progress-bar border-primary"></span>
                                </span>
                                <div
                                    class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                    <div class="h2 font-weight-bold">
                                        <img id="img_ident" src="{% static 'img/pendiente.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- END -->

                            <!-- Demo info -->
                            <div class="row text-center mt-4" id="div_identificacion" style="display: none;">
                                <label for="archivo">Subir Archivo</label>
                                <input class="form-control" style="opacity: 0.65" type="file" id="floatingFile"
                                    name="identificacion" />
                                <div class="text-center mt-2">
                                        <button id="btnI" class="btn btn-primary btn-sm rounded fw-bold">Cargar</button>
                                </div>
                            </div>
                            <!-- END -->
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 mb-4 mx-auto">
                        <div class="bg-white rounded-lg p-5 shadow">
                            <h2 class="h6 font-weight-bold text-center mb-4">Foto Tipo Pasaporte</h2>
                            <input type="hidden" id="fotoTF" value="{{ documentos.foto }}">
                            <!-- Progress bar 3 -->
                            <div class="progress mx-auto" data-value='50' id="div_progre_pasaporte">
                                <span class="progress-left">
                                    <span id="pasaporte1" class="progress-bar border-primary"></span>
                                </span>
                                <span class="progress-right">
                                    <span id="pasaporte2" class="progress-bar border-primary"></span>
                                </span>
                                <div
                                    class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                    <div class="h2 font-weight-bold">
                                        <img id="img_pasaporte" src="{% static 'img/pendiente.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- END -->

                            <!-- Demo info -->
                            <div class="row text-center mt-4" id="div_pasaporte" style="display: none;">
                                <label for="archivo">Subir Archivo</label>
                                <input class="form-control" style="opacity: 0.65" type="file" id="floatingFile" name="pasaporte" />
                                <div class="text-center mt-2">
                                    <button id="btnF" class="btn btn-primary btn-sm rounded fw-bold">Cargar</button>
                                </div>
                            </div>
                            <!-- END -->
                        </div>
                    </div>

                    <div class="row justify-content-center" id="div_convalidacion" style="display: none;">
                        <input type="hidden" id="conv" value="{{ convalidacion }}">
                        <div class="col-xl-3 col-lg-6 mb-4 mx-auto">
                            <div class="bg-white rounded-lg p-5 shadow">
                                <h2 class="h6 font-weight-bold text-center mb-4">Cert. de Notas</h2>
                                <input type="hidden" id="notaTF" value="{{ documentos.nota }}">
                                <!-- Progress bar 4 -->
                                <div class="progress mx-auto" data-value='50' id="div_progre_notas">
                                    <span class="progress-left">
                                        <span id="notas1" class="progress-bar border-primary"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span id="notas2" class="progress-bar border-primary"></span>
                                    </span>
                                    <div
                                        class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <div class="h2 font-weight-bold">
                                            <img id="img_notas" src="{% static 'img/pendiente.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- END -->

                                <!-- Demo info -->
                                <div class="row text-center mt-4" id="div_notas" style="display: none;">
                                    <label for="archivo">Subir Archivo</label>
                                    <input class="form-control" style="opacity: 0.65" type="file" id="floatingFile" name="notas" />
                                    <div class="text-center mt-2">
                                        <button id="btnN" class="btn btn-primary btn-sm rounded fw-bold">Cargar</button>
                                    </div>
                                </div>
                                <!-- END -->
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-6 mb-4 mx-auto">
                            <div class="bg-white rounded-lg p-5 shadow">
                                <h2 class="h6 font-weight-bold text-center mb-4">Plan de Estudio</h2>
                                <input type="hidden" id="planTF" value="{{ documentos.plan }}">
                                <!-- Progress bar 4 -->
                                <div class="progress mx-auto" data-value='50' id="div_progre_estudio">
                                    <span class="progress-left">
                                        <span id="estudio1" class="progress-bar border-primary"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span id="estudio2" class="progress-bar border-primary"></span>
                                    </span>
                                    <div
                                        class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <div class="h2 font-weight-bold">
                                            <img id="img_estudio" src="{% static 'img/pendiente.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- END -->

                                <!-- Demo info -->
                                <div class="row text-center mt-4" id="div_estudio" style="display: none;">
                                    <label for="archivo">Subir Archivo</label>
                                    <input class="form-control" style="opacity: 0.65" type="file" id="floatingFile"
                                        name="planestudio" />
                                        <div class="text-center mt-2">
                                            <button id="btnP" class="btn btn-primary btn-sm rounded fw-bold">Cargar</button>
                                        </div>
                                </div>
                                <!-- END -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
</div>
{% endblock content %}