{% extends 'usuario/principal.html' %}

{% block content %}
<div class="row mt-5">
  <div class="col-md-10 mx-auto mt-5 mb-5">
    <div class="card border-0 shadow rounded-3 my-5 mx-auto">
      <div class="card-body p-4 p-sm-5">
        <h1 class="card-title text-center mb-4 fw-light fw-bold">Su contraseña ha sido cambiada de forma exitosa!</h1>
        <div class="d-grid mb-2 d-flex justify-content-center">
          <a href="{% url 'login' %}" class="btn btn-primary btn-login fw-bold" role="button"
            style="text-decoration: none; max-width: 150px;">Login</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}