{% extends 'usuario/principal.html' %}

{% block content %}
<div class="row mt-5 watch">
  <div class="col-12 col-sm-12 col-md-10 col-lg-7 mx-auto mt-5 mb-5 watch">
    <div class="card border-0 cardPerfilCol rounded-3 my-5 mx-auto watch">
      <div class="card-body p-4 p-sm-5">
        <h1 class="card-title text-center mb-4 fw-light fw-bold">Su contraseña ha sido cambiada de forma exitosa!</h1>
        <div class="d-grid mb-2 d-flex justify-content-center">
          <a href="{% url 'login' %}" class="btn btn-primary btn-login fw-bold bi bi-box-arrow-in-right " role="button"
            style="text-decoration: none; max-width: 150px;"> Login</a>
        </div>
      </div>
    </div>
  </div>
  <style>
    @media (max-width: 319px) {
        .watch .mt-5 {
            margin-top: -25px !important; /* Anula el margen superior */
          }
          .watch .my-5{
            margin-top: -25px !important;
          }
          .cardPerfilCol {
            margin-top: -25px !important;
            margin-left: -10px !important;
            width: 170px;
          }
          .btn-primary{
            margin-left: -2px !important;
            font-size: 0;
            width: 45px;
          
          }
          .btn-login::before {
            display: inline-block;
            font-family: "Font Awesome"; /* Asegúrate de tener la fuente Font Awesome cargada */
            font-size: 20px; /* Ajusta el tamaño del icono según sea necesario */
          }
    }
  </style>
  {% endblock content %}