{% extends 'usuario/principal.html' %}

{% block content %}
<div class="row mt-5">
  <div class="col-12 col-sm-12 col-md-10 col-lg-7 mx-auto mt-5 mb-5">
    <div class="card border-0 cardPerfilCol rounded-3 my-5 mx-auto">
      <div class="card-body p-4 p-sm-5">
        <h1 class="card-title text-center mb-4 fw-light fw-bold">Restablecimiento de contraseña exitoso!</h1>
        <p class="lead text-center"> En caso de no poder realizarlo, comuniquese con el departamento de TI.</p>
        <hr class="my-4">
        <p class="text-center"> Hemos enviado un link de restablecimiento de contraseña a su correo electronico.</p>
        <div class="d-grid mb-2 d-flex justify-content-center">
          <a href="{% url 'login' %}" class="btn btn-primary btn-login fw-bold bi bi-box-arrow-in-right" role="button"
            style="text-decoration: none; max-width: 150px;"> Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}