{% extends 'usuario/principal.html' %}
{% block content %}
<div class="row mt-5 watch">
    <div class="col-12 col-sm-12 col-md-10 col-lg-5 mx-auto mt-5 mb-5 watch">
        <div class="card border-0 cardPerfilCol rounded-3 my-5 mx-auto">
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5 fw-bold">Olvido contraseña</h5>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Correo" name="email" required>
                        <label for="floatingInput" style="opacity: .65;">Correo electronico</label>
                    </div>
                    <div class="d-grid mb-2">
                        <button type="submit" class="btn btn-primary btn-login fw-bold bi bi-envelope-fill"> Enviar Correo</button>
                    </div>
                    <div class="d-grid mb-2">
                        <span class="ml-auto"> ¿Ya recordo su contraseña? <a href="{% url 'login' %}"
                                class="text-info bi bi-box-arrow-in-right">   Ingresar</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    @media (max-width: 319px) {
        .watch .mt-5 {
            margin-top: -25px !important; /* Anula el margen superior */
          }
          .my-2{
            margin-top: -25px !important;
          }
          .cardPerfilCol {
            margin-top: -25px !important;
            margin-left: -10px !important;
            width: 170px;
          }

          .card-title{
            margin-left: -10px !important;
          }
          #email{
            margin-top: -30px !important;
            margin-left: -22px !important;
            width: 155px;
            height: 70px;
          }
          #basic-addon1{
            width: 10px;
            margin-left: -10px !important;
          }

          .form-signin{
            margin-top: -35px !important;
            width: 100%;
          }
          #floatingPassword,
          #floatingInput {
            height: 56px;
         }
         .btn-primary {
            margin-left: 28px !important;
            font-size: 0;
            width: 50px;
          
          }
          .btn-login::before {
            display: inline-block;
            font-family: "Font Awesome"; /* Asegúrate de tener la fuente Font Awesome cargada */
            font-size: 20px; /* Ajusta el tamaño del icono según sea necesario */
          }
          .d-inline-block, .centered-link{
            margin-left: -6px !important;
          }
          #imgMicrosoft {
            max-width: 120px;
          }

          .ingresar{
            margin-top: -30px !important;
          }
    }
</style>
{% endblock content %}