{% load i18n %}{% autoescape off %}
{% blocktrans %}
Hemos recibido una peteción desde el sitio {{ site_name }}.{% endblocktrans %}

{% trans "Por favor diríjase al siguiente al siguiente enlace donde podrá restablecer su contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "En caso de olvidar su número de usuario , te facilitamos el dato a continuación:" %} {{ user.get_username }}

{% trans "Gracias por su tiempo!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}