{% extends 'usuario/principal.html' %}

{% block content %}
<div class="row mt-5">
  <div class="col-sm-9 col-md-7 col-lg-7 mx-auto mt-4 mb-4">
    <div class="card border-0 shadow rounded-3 my-4 mx-auto">
      <div class="card-body p-4 p-sm-5">
        <h5 class="card-title text-center mb-5 fw-light fs-5 fw-bold">Cambio de Contraseña</h5>
        <form class="row g-3 form" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-floating mb-3 col-md-12">
            <ul>
              <li>Su contraseña no puede ser similar a otros componentes de su información personal.</li>
              <li>Su contraseña debe contener por lo menos 8 caracteres.</li>
              <li>Su contraseña no puede ser una contraseña usada muy comúnmente.</li>
              <li>Su contraseña no puede estar formada exclusivamente por números.</li>
            </ul>
          </div>
          <div class="form-floating mb-3 col-md-12">
            <input type="password" class="form-control" id="id_new_password1" placeholder="Contraseña Nueva"
              name="new_password1" autocomplete="new-password" required>
            <label for="new_password1" style="opacity: .65;">Contraseña Nueva</label>
          </div>
          <div class="form-floating mb-3 col-md-12">
            <input type="password" class="form-control" id="id_new_password2"
              placeholder="Confirmación de Contraseña Nueva" name="new_password2" required>
            <label for="new_password2" style="opacity: .65;">Confirmación de Contraseña Nueva</label>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-login fw-bold">Cambiar Contraseña</button>
          </div>
          <hr class="my-4">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}