<!-- <h1>Built-In Login Logout</h1> -->
{% extends 'usuario/principal.html' %}

{% block content %}

  <div class="jumbotron">
    <h1 class="display-4">Restablecimiento de contraseña exitoso!</h1>
    <p class="lead"> En caso de no poder realizarlo, comuniquese con el departamento de TI.</p>
    <hr class="my-4">
    <p>  Hemos enviado un link de restablecimiento de contraseña a su correo electronico.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
    </p>
  </div>


{% endblock content %}