{% extends 'usuario/principal.html' %}

{%block content%}

<div class="row">
	<div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-5">
	  <div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body p-4 p-sm-5">
		  <h2 class="card-title text-center mb-5 fw-light fs-5 fw-bold">Restablecer contraseña</h2>
		<form method="post" class="card">
		  {% csrf_token %}
		 
		  <div class="form-floating mb-3">
			{{ form.new_password1.errors }}
			<input type="password" class="form-control" id="{{ form.new_password1.id_for_label }}" placeholder="Contraseña nueva" name="{{ form.new_password1.name }}" required>
			<label for="{{ form.new_password1.id_for_label }}" style="opacity: .65;">{{ form.new_password1.label }}</label>
		  </div>
		  
		  <div class="form-floating mb-3">
			{{ form.new_password2.errors }}
			<input type="password" class="form-control" id="{{ form.new_password2.id_for_label }}" placeholder="Confirmar contraseña" name="{{ form.new_password2.name }}" required>
			<label for="{{ form.new_password2.id_for_label }}" style="opacity: .65;">{{ form.new_password2.label }}</label>
		  </div>
		
		  <div class="d-grid d-flex justify-content-center">
		    <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
		  </div>
		</form>
	  </div>
	</div>
  </div>
</div>

{%endblock content%}