{% extends 'usuario/principal.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-5">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-6 p-sm-6">
                <h5 class="card-title text-center mb-5 fw-light fs-5 fw-bold">Tienes dos cuentas, ¿cómo quieres acceder?
                </h5>
                <form method="POST">
                    {% csrf_token %}
                    <div class="d-grid mb-2">
                        <a href="{% url 'usuario_profesor' %}" class="btn btn-primary btn-login fw-bold">Profesor</a>
                    </div>
                    <div class="d-grid mb-2">
                        <a href="{% url 'usuario_estudiante' %}"
                            class="btn btn-primary btn-login fw-bold">Estudiante</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}