{% extends 'usuario/principal.html' %}

{% block barranavegacion %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Mi perfil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock barranavegacion %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="data:image/png;base64,{{ fotoperfil|base64 }}">
                <span class="font-weight-bold">{{ user.username }}</span>
                <span class="text-black-50">{{ estudiante.correo_institucional }}</span>
                <span> </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Informacion de Perfil</h4>
                </div>
                <form method="POST" action="{% url 'guardar_perfil' %}">
                    {% csrf_token %}
                    <div class="row mt-2">
                        <input name="username" value="{{ user.username }}" hidden>
                        <div class="col-md-6">
                            <label class="labels">Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre" value="{{ estudiante.nombre }}"
                                readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Apellidos</label>
                            <input type="text" class="form-control"
                                value="{% if estudiante.segundo_apellido and estudiante.segundo_apellido %} {{ estudiante.primer_apellido }} {{ estudiante.segundo_apellido }} {% else %} {{ estudiante.segundo_apellido }} {% endif %}"
                                placeholder="Apellidos" readonly>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Pais</label>
                            <input type="text" class="form-control" placeholder="Pais" value="">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Provincia</label>
                            <input type="text" class="form-control" value="" placeholder="Provincia">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Canton</label>
                            <input type="text" class="form-control" placeholder="Canton" value="">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Distrito</label>
                            <input type="text" class="form-control" placeholder="Distrito" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Numero Telefonico</label>
                            <input type="text" class="form-control" placeholder="Numero Telefonico"
                                name="numero_telefonico" value="{{ estudiante.numero_telefonico }}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Correo Electronico Personal</label>
                            <input type="text" class="form-control" placeholder="Correo Personal" name="correo_personal"
                                value="{{ estudiante.correo_personal }}">
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Guardar Informacion</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <span>Configuracion de Cuenta</span>
                </div><br>
                <div class="col-md-12">
                    <a href="{% url 'cambiar_contrasena' %}" class="btn btn-primary btn-sm rounded fw-bold">Cambiar
                        Contraseña</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


  <style>
    body {
        background: rgb(255, 255, 255);
    }
    
    .form-control:focus {
        box-shadow: none;
        border-color: #ffffff;
    }
    
    .profile-button {
        background: rgb(255, 209, 64);
        box-shadow: none;
        color: black;
        border: none;
    }
    
    .profile-button:hover {
        background: #000000;
    }
    
    .profile-button:focus {
        background: #000000;
        box-shadow: none;
    }
    
    .profile-button:active {
        background: #000000;
        box-shadow: none;
    }
    
    .back:hover {
        color: #000000;
        cursor: pointer;
    }
    
    .labels {
        font-size: 16px;
    }
    
    .add-experience:hover {
        background: rgb(255, 209, 64);
        color: black;
        cursor: pointer;
        border: solid 1px #ffffff;
    }
  </style>
{% endblock content %}