{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <title>UIA Digital Campus</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/font-uia.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark.css' %}">
    <link href="{% static 'css/pluginCss/select2.min.css' %}" rel="stylesheet" />
    <link rel='stylesheet' href="{% static 'css/pluginCss/bootstrap-icons.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/pluginCss/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pluginCss/dark.css' %}">

    <script src="{% static 'js/pluginJs/jquery.min.js' %}"></script>
    <script src="{% static 'js/pluginJs/flatpickr.js' %}"></script>
    {% bootstrap_javascript %}
    <script src="{% static 'js/pluginJs/select2.min.js' %}"></script>
    {% block extraJavaScript %}
    {% endblock %}
    <script>
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>
</head>

<body class="d-flex flex-column min-vh-100 ">
    {% block barranavegacion %}
    {% endblock barranavegacion %}
    <div class="container">
        {% block content %}
        <div id="loading-indicator" class="hidden">
            <div class="spinner"></div>
        </div>
        {% endblock content %}
    </div>
    {% block footer %}
    {% endblock footer %}
</body>

</html>