<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
        integrity="sha512-+YfyYojD7phswAtRsLbcxbZwqwxILHh3qFkeXvG8zh1iYsPxNqzggqGZvQ8ZTSG/0dRbzC7V9i6m8r6WlYmQIw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
        integrity="sha512-qosVhKFv29cU6W8j2iFh6nBd6nZPlzbwZI6bLjkMkJOiq02aevX/XmSkn5c5ueNTj5dLPLh4CNZ4JQ08dfun0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/validacion.js' %}"></script>
    <script src="{% static 'js/function.js' %}"></script>
</head>

<body>

    {% block barranavegacion %}

    {% endblock barranavegacion %}
        {% block content %}

        {% endblock content %}
</body>

</html>