{% extends 'usuario/principal.html' %} {% block barranavegacion %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
  <div class="container-fluid">
    <!-- Logo en la izquierda -->
    <a class="navbar-brand">
      <img
        src="https://uia.ac.cr/home/dist/img/logo.svg"
        alt=""
        width="150"
        height="50"
      />
    </a>

    <!-- Botón hamburguesa para móvil -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Opciones del menú -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Opciones del menú aquí -->
      </ul>

      <!-- Botón "Cerrar sesión" en el lado derecho -->
      <a class="btn btn-default" href="{% url 'logout' %}" type="button"
        >Cerrar sesión</a
      >
    </div>
  </div>
</nav>
{% endblock barranavegacion %} {% block content %}

<div class="row">
  <div class="col-md-4 mt-5">
    <div class="card p-3 mb-2" id="infoCard">
      <a href="#" class="card-link">
        <img
          src="../static/img/primer_ingreso.png"
          class="card-img-top"
          alt="..."
        />
      </a>

      <div class="card-body" id="infoCardBody">
        <h5 class="card-title" id="infoCardTitle">PRIMER INGRESO</h5>
        <p class="card-text" id="infoCardText">Este es el contenido del elemento 1.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card p-3 mb-2" id="infoCard">
      <a href="#" class="card-link">
        <img
          src="../static/img/posgrados.png"
          class="card-img-top"
          alt="..."
        />
      </a>

      <div class="card-body" id="infoCardBody">
        <h5 class="card-title" id="infoCardTitle">PRIMER INGRESO</h5>
        <p class="card-text" id="infoCardText">Este es el contenido del elemento 1.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card p-3 mb-2" id="infoCard">
      <a href="#" class="card-link">
        <img
          src="../static/img/cursos_libres.png"
          class="card-img-top"
          alt="..."
        />
      </a>

      <div class="card-body" id="infoCardBody">
        <h5 class="card-title" id="infoCardTitle">PRIMER INGRESO</h5>
        <p class="card-text" id="infoCardText">Este es el contenido del elemento 1.</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
