{% extends 'usuario/principal.html' %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-md-10 mx-auto ">
    <div class="card border-0 shadow rounded-3 my-5">
      <div class="card-body p-4 p-sm-5 p-2 bg-light bg-gradient">
        <h5 class="card-title text-center mb-4 fw-light fs-5 fw-bold">Registro Estudiantil</h5>
        <form class="row g-3" method="POST">
          {% csrf_token %}
          <div class="row mt-3">
            <ul class="tab-list nav nav-pills justify-content-center">
              <li class="nav-item tab-list__item">
                <a class="next-step step-tab1 tab-list__link nav-link active" data-bs-toggle="pill" href="#datosP">Datos
                  Personal</a>
              </li>
              <li class="nav-item tab-list__item">
                <a class="next-step step-tab1 tab-list__link nav-link disabled" id="direccionUl" data-bs-toggle="pill"
                  href="#direccionP">Dirección</a>
              </li>
              <li class="nav-item tab-list__item">
                <a class="next-step step-tab1 tab-list__link nav-link disabled" id="correoUl" data-bs-toggle="pill"
                  href="#correoP">Correo</a>
              </li>
              <li class="nav-item tab-list__item">
                <a class="next-step step-tab1 tab-list__link nav-link disabled" onclick="llamarFunciones()" id="validarUl" data-bs-toggle="pill"
                  href="#validarP">Validar</a>
              </li>
            </ul>
          </div>
          <div class="tab-content mt-4">
            <div class="tab-pane container active" id="datosP">
              <div class="row">
                <div class="form-floating col-md-6">
                  <select id="tipo" class="form-select form-select-sm mb-3" onchange="change();">
                    <option style="opacity: .65;" value="" disabled selected hidden>Tipo de identificación
                    </option>
                    <option value="Cédula">Cédula Física</option>
                    <option value="Dimex">DIMEX</option>
                    <option value="Pasaporte">Pasaporte</option>
                    <option value="Cédula Residente">Cédula Residente</option>
                    <option value="Permiso">Permiso de Trabajo</option>
                    <option value="Refugiado">Refugiado</option>
                  </select>
                  <label for="tipo" style="opacity: .65;">Tipo de identificación</label>
                </div>
                <div class="form-floating mb-3 col-md-6">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="43" fill="currentColor"
                        class="bi bi-person-vcard" viewBox="0 0 16 16">
                        <path
                          d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z">
                        </path>
                        <path
                          d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z">
                        </path>
                      </svg>
                    </span>
                    <input type="text" class="form-control " id="identificacion" placeholder="Identificación"
                      name="username" onkeyup="datacedula()" disabled required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-floating mb-3 col-md-4">
                  <div class="input-group">
                    <span class="input-group-text " id="basic-addon1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="43" fill="currentColor"
                        class="bi bi-person-fill-add" viewBox="0 0 16 16">
                        <path
                          d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z">
                        </path>
                        <path
                          d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z">
                        </path>
                      </svg>
                    </span>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="first_name" readonly
                      required>
                  </div>
                </div>
                <div class="form-floating mb-3 col-md-4">
                  <div class="input-group">
                    <span class="input-group-text " id="basic-addon1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="43" fill="currentColor"
                        class="bi bi-person-fill-add" viewBox="0 0 16 16">
                        <path
                          d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z">
                        </path>
                        <path
                          d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z">
                        </path>
                      </svg>
                    </span>
                    <input type="text" class="form-control" id="primerapellido" placeholder="Primer Apellido"
                      name="last_name" readonly required>
                  </div>
                </div>
                <div class="form-floating mb-3 col-md-4">
                  <div class="input-group">
                    <span class="input-group-text " id="basic-addon1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="43" fill="currentColor"
                        class="bi bi-person-fill-add" viewBox="0 0 16 16">
                        <path
                          d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z">
                        </path>
                        <path
                          d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z">
                        </path>
                      </svg>
                    </span>
                    <input type="text" class="form-control" id="segundoapellido" placeholder="Segundo Apellido"
                      name="segundoapellido" readonly required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-floating  mb-3 col-md-6" id="dis_nacimiento" style="display: block;">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="43" fill="currentColor"
                        class="bi bi-calendar-week" viewBox="0 0 16 16">
                        <path
                          d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z">
                        </path>
                        <path
                          d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z">
                        </path>
                      </svg>
                    </span>
                    <label for="fechanacimiento"></label>
                    <input class="form-control flatpickr flatpickr-input active" data-id="datetime" id="fechanacimiento"
                      readonly="readonly" placeholder="Fecha de nacimiento. dd/mm/yyyy" name="fechanacimiento" />
                  </div>
                </div>
                <div class="form-floating mb-3 col-md-6" id="dis_genero" style="display: block;">
                  <select id="genero" class="form-select" name="Genero_select" data-placeholder="Genero"
                    onchange="checkOtro()">
                    <option style="opacity: 0.65" value="" disabled selected hidden>Genero</option>
                    <option value="femenino">Femenino</option>
                    <option value="masculino">Masculino</option>
                    <option value="no_decirlo">Prefiero no decirlo</option>
                    <option value="otro">Otro</option>
                  </select>
                  <label for="tipo" style="opacity: .65;">Genero</label>
                  <input type="hidden" value="NA" id="otro_trato" name="trato">
                  <input type="hidden" value="NA" id="otro_sexo" name="sexo2">
                </div>
              </div>
              <div class="row">
                <div class="form-floating mb-3 col-md-4" id="dis_telefono" style="display: block;">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="43" fill="currentColor"
                        class="bi bi-telephone-plus" viewBox="0 0 16 16">
                        <path
                          d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z">
                        </path>
                        <path fill-rule="evenodd"
                          d="M12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5z">
                        </path>
                      </svg>
                    </span>
                    <input type="text" class="form-control" id="telefono" placeholder="Número Telefónico"
                      name="telefono">
                  </div>
                </div>
                <div class="form-floating mb-3 col-md-4" id="dis_telefono2" style="display: block;">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="43" fill="currentColor"
                        class="bi bi-telephone-plus" viewBox="0 0 16 16">
                        <path
                          d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z">
                        </path>
                        <path fill-rule="evenodd"
                          d="M12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5z">
                        </path>
                      </svg>
                    </span>
                    <input type="text" class="form-control" id="telefono2" placeholder="Segundo Número Telefónico"
                      name="telefono2">
                  </div>
                </div>
                <div class="form-floating mb-3 col-md-4" id="dis_pais" style="display: block;">
                  <select id="pais_select" class="form-select" onchange="obtenerPais(this)" name="pais_select"
                    data-placeholder="Seleccione Nacionalidad" onclick="cargarPais()">
                    <option style="opacity: 0.65" value="" disabled selected hidden>Seleccione Nacionalidad</option>
                  </select>
                  <label for="tipo" style="opacity: .65;">Nacionalidad</label>
                  <input type="hidden" id="pais" name="pais">
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <a type="button" class="btn btn-md btn-primary btn-login fw-bold fas fa-regular fa-arrow-right disabled"
                  id="botonSiguienteDatosP" onclick="mostrarSiguiente()">
                </a>
              </div>
            </div>
            <div class="tab-pane container fade" id="direccionP">
              <div class="row">
                <div class="form-floating mb-3 col-md-4" id="dis_provincia" style="display: block;">
                  <select id="provincia_select" class="form-select" name="provincia_select"
                    data-placeholder="Selecione Provincia" onchange="obtenerProvincia(this)"
                    onclick="cargarProvincias()">
                    <option style="opacity: 0.65" value="" disabled selected hidden>Seleccione Provincia</option>
                  </select>
                  <label for="tipo" style="opacity: .65;">Provincia</label>
                  <input type="hidden" id="provincia" name="provincia">
                </div>
                <div class="form-floating mb-3 col-md-4" id="dis_canton" style="display: block;">
                  <select id="canton_select" class="form-select" name="canton_select"
                    data-placeholder="Selecione Canton" onchange="obtenerCanton(this)">
                    <option style="opacity: 0.65" value="" disabled selected hidden>Seleccione Cantón</option>
                  </select>
                  <label for="tipo" style="opacity: .65;">Cantón</label>
                  <input type="hidden" id="canton" name="canton">
                </div>
                <div class="form-floating mb-3 col-md-4" id="dis_distrito" style="display: block;">
                  <select id="distrito_select" class="form-select" name="distrito_select"
                    data-placeholder="Selecione Distrito" onchange="obtenerDistrito(this)">
                    <option style="opacity: 0.65" value="" disabled selected hidden>Seleccione Distrito</option>
                  </select>
                  <label for="tipo" style="opacity: .65;">Distrito</label>
                  <input type="hidden" id="distrito" name="distrito">
                </div>
              </div>
              <div class="row">
                <div class="form-floating mb-3 col-md-12">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="43" fill="currentColor"
                        class="bi bi-person-vcard" viewBox="0 0 16 16">
                        <path
                          d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z">
                        </path>
                        <path
                          d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z">
                        </path>
                      </svg>
                    </span>
                    <input type="text" class="form-control " id="direccion_exacta" placeholder="Direccion Exacta"
                      name="direccion_exacta" required>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <a type="button" class="btn btn-md btn-primary btn-login fw-bold fas fa-regular fa-arrow-left"
                  id="botonAnteriorDireccionP" onclick="mostrarAnterior()"></a>
                <a type="button" class="btn btn-md btn-primary btn-login fw-bold fas fa-regular fa-arrow-right disabled"
                  id="botonSiguienteDireccionP" onclick="mostrarSiguiente()"></a>
              </div>
            </div>
            <div class="tab-pane container fade" id="correoP">
              <div class="row">
                <div class="form-floating mb-3 col-md-4" id="dis_correo" style="display: block;">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="43" fill="currentColor"
                        class="bi bi-envelope-plus" viewBox="0 0 16 16">
                        <path
                          d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z">
                        </path>
                        <path
                          d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z">
                        </path>
                      </svg>
                    </span>
                    <input type="email" class="form-control" id="correo" placeholder="Correo" name="email" required
                      pattern="(?![_.-])((?![_.-][_.-])[a-zA-Z\d_.-]){0,63}[a-zA-Z\d]@((?!-)((?!--)[a-zA-Z\d-]){0,63}[a-zA-Z\d]\.){1,2}([a-zA-Z]{2,14}\.)?[a-zA-Z]{2,14}">
                  </div>
                </div>
                <div class="form-floating mb-3 col-md-4" id="dis_contrasena" style="display: block;">
                  <div class="input-group mb-3 input-group-lg">
                    <span class="input-group-text" id="basic-addon1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="38" fill="currentColor"
                        class="bi bi-pass-fill" viewBox="0 0 16 16">
                        <path
                          d="M10 0a2 2 0 1 1-4 0H3.5A1.5 1.5 0 0 0 2 1.5v13A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-13A1.5 1.5 0 0 0 12.5 0H10ZM4.5 5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1Zm0 2h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1Z">
                        </path>
                      </svg>
                    </span>
                    <input type="password" class="form-control" id="password1" placeholder="Contraseña" name="password1"
                      required>
                  </div>
                </div>
                <div class="form-floating mb-3 col-md-4" id="dis_confirmar" style="display: block;">
                  <div class="input-group mb-3 input-group-lg">
                    <span class="input-group-text" id="basic-addon1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="38" fill="currentColor"
                        class="bi bi-pass-fill" viewBox="0 0 16 16">
                        <path
                          d="M10 0a2 2 0 1 1-4 0H3.5A1.5 1.5 0 0 0 2 1.5v13A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-13A1.5 1.5 0 0 0 12.5 0H10ZM4.5 5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1Zm0 2h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1Z">
                        </path>
                      </svg>
                    </span>
                    <input type="password" class="form-control" id="password2" placeholder="Confirmar contraseña"
                      name="password2" required>
                  </div>
                  
                </div>
                <span id='message'></span>
              </div>
              <div class="d-flex justify-content-between">
                <a type="button" class="btn btn-md btn-primary btn-login fw-bold fas fa-regular fa-arrow-left"
                  id="botonAnteriorCorreoP" onclick="mostrarAnterior()"></a>
                <a type="button" class="btn btn-md btn-primary btn-login fw-bold fas fa-regular fa-arrow-right disabled"
                  id="botonSiguienteCorreoP" onclick="llamarFunciones()">
                </a>
              </div>
            </div>
            <div class="tab-pane container fade" id="validarP">
              <div class="row">
                <div class="col-md-12 ">
                  <h5 class="card-title text-center mb-4 fw-light fw-bold">Se envió al correo un código de verificación
                    para registrarse</h5>
                  <div class="d-flex justify-content-center">
                    <div class="mb-3 col-1 m-1" id="Código1" style="display: block;">
                      <input type="text" class="form-control" id="input1" maxlength="1" onkeyup="moverInput(event, 2)" required>
                    </div>
                    <div class="mb-3 col-1 m-1" id="Código2" style="display: block;">
                      <input type="text" class="form-control" id="input2" maxlength="1" onkeyup="moverInput(event, 3)" required>
                    </div>
                    <div class="mb-3 col-1 m-1" id="Código3" style="display: block;">
                      <input type="text" class="form-control" id="input3" maxlength="1" onkeyup="moverInput(event, 4)" required>
                    </div>
                    <div class="mb-3 col-1 m-1" id="Código4" style="display: block;">
                      <input type="text" class="form-control" id="input4" maxlength="1" oninput="verificarCodigo()" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <a type="button" class="btn btn-md btn-primary btn-login fw-bold fas fa-regular fa-arrow-left"
                  id="botonAnteriorCorreoP" onclick="mostrarAnterior()"></a>
                <button type="submit" class="btn btn-md btn-primary btn-login fw-bold bi bi-save disabled"
                  id="registrarEstudiante"> Registrar</button>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <div class="d-grid mb-2">
            <span class="ml-auto"> ¿Ya tienes una cuenta? <a href="{% url 'login' %}"
                class="text-info bi bi-box-arrow-in-right"> Ingresar</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Model de Cambio de data -->
{% block modal_inclusivo%}
<div class="modal fade" id="modal_inclusivo" tabindex="-1" aria-labelledby="modal_inclusivoTitle" style="display: none"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-4">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_inclusivoTitle">
          INFORMACION EXTRA
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><span class="icon-close2"></span></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-floating mb-3 col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" id="trato2" placeholder="¿Cuál es tu sexo?" name="trato2"
                style="height: 60px;">
            </div>
          </div>
          <div class="form-floating col-md-6">
            <select id="tipoTrato" class="form-select form-select-sm mb-3">
              <option style="opacity: .65;" value="" disabled selected hidden>Trato
              </option>
              <option value="Mujer">Mujer</option>
              <option value="Hombre">Hombre</option>
              <option value="no_decirlo">Prefiero no decirlo</option>
              <option value="Otro">Otro</option>
            </select>
            <label for="tipo" style="opacity: .65;">Prefiero que me traten como</label>
          </div>
        </div>
        <div class="row d-grid mb-4 d-flex justify-content-center">
          <button type="submit" onclick="continuarGenero()" class="w-100 btn btn-lg btn-primary btn-sm rounded fw-bold"
            style="max-width: 175px;">
            <i class="fa fa-paper-plane" aria-hidden="true"></i> Continuar</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock modal_inclusivo %}

<script>

  function checkOtro() {
    // Obtener el valor seleccionado del select
    var selectedValue = document.getElementById("genero").value;
    // Si se seleccionó "Otro", mostrar el modal
    if (selectedValue === "otro") {
      $('#modal_inclusivo').modal('show');
    }
  }

  function continuarGenero() {
    var inputValue = document.getElementById("trato2").value;
    var selectedValue = document.getElementById("tipoTrato").value;

    document.getElementById("otro_trato").value = inputValue;
    document.getElementById("otro_sexo").value = selectedValue;

    $('#modal_inclusivo').modal('hide');
  }

  flatpickr("#fechanacimiento", {
    dateFormat: "d/m/Y",

  });

  var provinciasCargadas = false;

  function cargarProvincias() {
    if (provinciasCargadas) {
      return;
    }

    var select = document.getElementById("provincia_select");

    var url = "{% url 'obtener_provincia' %}";
    var request = new XMLHttpRequest();
    request.open('GET', url, true);
    request.onload = function () {
      if (request.status === 200) {
        var data = JSON.parse(request.responseText);
        select.options.length = 0;
        for (key in data) {
          var option = document.createElement("option");
          option.value = key;
          option.text = data[key];
          select.add(option);
        }
        provinciasCargadas = true;
        dataCantones(select);
        obtenerProvincia(select)
      }
    };
    request.send();
  }

  function cargarCantones(valor) {
    var select = document.getElementById("canton_select");
    var select2 = document.getElementById("distrito_select");

    var url = "/obtener-canton/?provincia_select=";
    var request = new XMLHttpRequest();
    request.open('GET', url + encodeURIComponent(valor), true);
    request.onload = function () {
      if (request.status === 200) {
        var data = JSON.parse(request.responseText);
        select.options.length = 0;
        for (key in data) {
          var option = document.createElement("option");
          option.value = key;
          option.text = data[key];
          select.add(option);
        }
        dataDistritos(select)
        obtenerCanton(select)
      }
    };
    request.send();
  }

  function cargarDistritos(valor1, valor2) {
    var select = document.getElementById("distrito_select");

    var url = "/obtener-distrito/?provincia_select=" + encodeURIComponent(valor1) + "&canton_select=" + encodeURIComponent(valor2);
    var request = new XMLHttpRequest();
    request.open('GET', url, true);
    request.onload = function () {
      if (request.status === 200) {
        var data = JSON.parse(request.responseText);
        select.options.length = 0;
        for (key in data) {
          var option = document.createElement("option");
          option.value = key;
          option.text = data[key];
          select.add(option);
        }
        obtenerDistrito(select)
      }
    };
    request.send();
  }

  var paisCargadas = false;

  function cargarPais() {
    if (paisCargadas) {
      return;
    }

    var select = document.getElementById("pais_select");

    select.options.length = 0; // Eliminamos todas las opciones anteriores

    var url = "{% url 'obtener_nacionalidad' %}";
    var request = new XMLHttpRequest();
    request.open('GET', url, true);
    request.onload = function () {
      if (request.status === 200) {
        var data = JSON.parse(request.responseText);
        for (key in data) {
          var option = document.createElement("option");
          option.value = key;
          option.text = data[key];
          select.add(option);
        }
        paisCargadas = true;
      }
    };
    request.send();
  }

  function dataCantones(select) {
    var valorSeleccionado = select.options[select.selectedIndex].value;
    cargarCantones(valorSeleccionado);
  }

  function dataDistritos(select) {
    const miSelect = document.getElementById('provincia_select');
    var valorSeleccionado = select.options[select.selectedIndex].value;

    cargarDistritos(miSelect.value, valorSeleccionado);
  }

  function obtenerPais(select) {
    var textoSeleccionado = select.options[select.selectedIndex].text;
    document.getElementById('pais').value = textoSeleccionado;
  }
  function obtenerProvincia(select) {
    var textoSeleccionado = select.options[select.selectedIndex].text;
    document.getElementById('provincia').value = textoSeleccionado;
    dataCantones(select)
  }
  function obtenerCanton(select) {
    var textoSeleccionado = select.options[select.selectedIndex].text;
    document.getElementById('canton').value = textoSeleccionado;
    dataDistritos(select)
  }
  function obtenerDistrito(select) {
    var textoSeleccionado = select.options[select.selectedIndex].text;
    document.getElementById('distrito').value = textoSeleccionado;
  }
  function mostrarAnterior() {
    const tabActivo = document.querySelector(".tab-pane.active");
    const tabAnterior = tabActivo.previousElementSibling;

    if (tabAnterior) {
      const linkActivo = document.querySelector(".nav-link.active");
      const linkAnterior = linkActivo.parentElement.previousElementSibling.querySelector(".nav-link");

      tabActivo.classList.remove("active");
      tabActivo.classList.remove("show");
      tabAnterior.classList.add("active");
      tabAnterior.classList.add("show");

      linkActivo.classList.remove("active");
      linkAnterior.classList.add("active");
    }
  }
  function mostrarSiguiente() {
    const tabActivo = document.querySelector(".tab-pane.active");
    const tabSiguiente = tabActivo.nextElementSibling;

    if (tabActivo) {
      const linkActivo = document.querySelector(".nav-link.active");
      const linkSiguiente = linkActivo.parentElement.nextElementSibling.querySelector(".nav-link");

      tabActivo.classList.remove("active");
      tabActivo.classList.remove("show");
      tabSiguiente.classList.add("active");
      tabSiguiente.classList.add("show");

      linkActivo.classList.remove("active");
      linkSiguiente.classList.add("active");
    }
  }
  var codigo = 0;
  var result;
  function enviarCodigo() {
    var nombre = document.getElementById("nombre");
    var primer_apellido = document.getElementById("primerapellido");
    var segundo_apellido = document.getElementById("segundoapellido");
    var nombreCompleto = nombre.value + ' ' + primer_apellido.value + ' ' + segundo_apellido.value;
    console.log(nombreCompleto);
    var correo = document.getElementById("correo");
    console.log(correo.value);
    var url = "/codigoVerificacion/?nombre=" + encodeURIComponent(nombreCompleto) + "&correo=" + encodeURIComponent(correo.value);

    var request = new XMLHttpRequest();
    request.open('GET', url, true);

    request.onload = function () {
      if (request.status === 200) {
        codigo = JSON.parse(request.responseText);
        console.log(codigo)
      }
    };
    request.send();
  }
 
  function llamarFunciones() {
    validatePasswords()
    if(!result){
      if(codigo == 0){
        enviarCodigo();
      }
      mostrarSiguiente();
    }
  }

  function moverInput(evento, siguiente) {
    const tamano = evento.target.value.length;
    const maximo = evento.target.getAttribute("maxlength");

    if (tamano >= maximo) {
      if (siguiente <= 4) {
        document.getElementById("input" + siguiente).focus();
      } else {
        document.getElementById("input" + siguiente).blur();
      }
    }
  }

  function verificarCodigo() {
    var input1 = document.getElementById('input1');
    var input2 = document.getElementById('input2');
    var input3 = document.getElementById('input3');
    var input4 = document.getElementById('input4');
    var butonRegistrar = document.getElementById('registrarEstudiante');
    var codigoCompleto = input1.value + input2.value + input3.value + input4.value;
    const resultado = codigoCompleto == codigo;
    butonRegistrar.classList.toggle('disabled', !resultado);
  }

  $(document).ready(function () {
    tipoSelect.addEventListener('change', habilitarStep2);
    identificacion.addEventListener('input', habilitarStep2);
    nombre.addEventListener('input', habilitarStep2);
    primerApe.addEventListener('input', habilitarStep2);
    segundoApe.addEventListener('input', habilitarStep2);
    fecha.addEventListener('input', habilitarStep2);
    telefono.addEventListener('input', habilitarStep2);
    telefonoDos.addEventListener('input', habilitarStep2);
    genero.addEventListener('change', habilitarStep2);
    nacionalidad.addEventListener('change', habilitarStep2);

    provincia.addEventListener('change', habilitarStep3);
    distrito.addEventListener('change', habilitarStep3);
    canton.addEventListener('change', habilitarStep3);
    direccionExacta.addEventListener('input', habilitarStep3);
    correo.addEventListener('input', habilitarStep4);
    contrasena.addEventListener('input', habilitarStep4);
    contrasena2.addEventListener('input', habilitarStep4);
  });
  const tipoSelect = document.getElementById('tipo');
  const identificacion = document.getElementById('identificacion');
  const nombre = document.getElementById('nombre');
  const primerApe = document.getElementById('primerapellido');
  const segundoApe = document.getElementById('segundoapellido');
  const fecha = document.getElementById('fechanacimiento');
  const genero = document.getElementById('genero');
  const telefono = document.getElementById('telefono');
  const telefonoDos = document.getElementById('telefono2');
  const nacionalidad = document.getElementById('pais_select');
  const botonSiguienteDatosP = document.getElementById('botonSiguienteDatosP');
  const botonSiguienteDireccionP = document.getElementById('botonSiguienteDireccionP');
  const botonSiguienteCorreoP = document.getElementById('botonSiguienteCorreoP');
  const direccionUl = document.getElementById('direccionUl');
  const correoUl = document.getElementById('correoUl');
  const validarUl = document.getElementById('validarUl');
  const provincia = document.getElementById('provincia_select');
  const canton = document.getElementById('canton_select');
  const distrito = document.getElementById('tipo');
  const direccionExacta = document.getElementById('direccion_exacta');
  const correo = document.getElementById('correo');
  const contrasena = document.getElementById('password1');
  const contrasena2 = document.getElementById('password2');

  function habilitarStep2() {
    const tipoValue = tipoSelect.value;
    const identificacionValue = identificacion.value;
    const nombreValue = nombre.value;
    const primerApeValue = primerApe.value;
    const segundoApeValue = segundoApe.value;
    const fechaValue = fecha.value;
    const generoValue = genero.value;
    const telefonoValue = telefono.value;
    const telefono2Value = telefonoDos.value;
    const nacionalidadValue = nacionalidad.value;
    const resultado = tipoValue && identificacionValue
      && nombreValue && primerApeValue && segundoApeValue
      && fechaValue && generoValue && telefonoValue
      && telefono2Value && nacionalidadValue;

    botonSiguienteDatosP.classList.toggle('disabled', !resultado);
    direccionUl.classList.toggle('disabled', !resultado);
  }

  function habilitarStep3() {
    const provinciaValue = provincia.value;
    const cantonValue = canton.value;
    const distritoValue = distrito.value;
    const direccionExactaValue = direccionExacta.value;
    const resultado = provinciaValue && cantonValue && distritoValue && direccionExactaValue

    botonSiguienteDireccionP.classList.toggle('disabled', !resultado);
    correoUl.classList.toggle('disabled', !resultado);
  }

  function habilitarStep4() {
    codigo = 0;
    const correoValue = correo.value;
    const contrasenaValue = contrasena.value;
    const contrasena2Value = contrasena2.value;
    const resultado = correoValue && contrasenaValue && contrasena2Value;

    botonSiguienteCorreoP.classList.toggle('disabled', !resultado);
  }

  function validatePasswords() {
    const passwordError = document.getElementById('message');
    const passwordInput = document.getElementById('password1');
    const passwordInput2 = document.getElementById('password2');
    const password = passwordInput.value;
    const password2 = passwordInput2.value;
    const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_.:;,\-\+\]\[\}\{\¡\¿\'\?=\´~\"!°¬|])[A-Za-z\d!@#$%^&*()_.:;,\-\+\]\[\}\{\¡\¿\'\?=\´~\"!°¬|]{8,}$/;
  
    if (password !== password2) {
			passwordError.textContent = "Las contraseñas no coinciden";
      result = true;
      botonSiguienteCorreoP.classList.toggle('disabled', result);
      validarUl.classList.toggle('disabled', result);
    } else if (!passwordPattern.test(password)) {
			passwordError.textContent = "La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula, un número y un carácter especial.";
      result = true;
      botonSiguienteCorreoP.classList.toggle('disabled', result);
      validarUl.classList.toggle('disabled', result);
    } else {
			passwordError.textContent = "";
      result = false;
      botonSiguienteCorreoP.classList.toggle('disabled', result);
      validarUl.classList.toggle('disabled', result);
    }
  }
</script>
{% block extraJavaScript %}
<script src="{% static 'js/validacion.js' %}"></script>
<script src="{% static 'js/function.js' %}"></script>
{% endblock %}
{% endblock content %}