{% extends 'usuario/principal.html' %}

{% block content %}

<div class="barra-superior">
    <h1>Registrar Profesor</h1>
</div>

<div class="cuerpo-tarjeta">
    <form method="POST">
    {% csrf_token %}
    
    <label>Identificacion</label>
    <input type="text" class="form-control" name="username">

    <label>Nombre</label>
        <input type="text" class="form-control" name="nombre">
            
    <label>Prime Apellido</label>
        <input type="text" class="form-control" name="primerapellido">
    
    <label>Segundo Apellido</label>
        <input type="text" class="form-control"name="segundoapellido">
    
    <label>Correo Electronico</label>
        <input type="email" placeholder="name@example.com" class="form-control" name="correo">

    <label>Puesto Educativo</label>
        <input type="text" class="form-control"name="puestoeducativo">
        
    <label>Contrasena</label>
        <input type="password" class="form-control" name="password1">

    <label>Confiramr Contrasena</label>
        <input type="password" class="form-control" name="password2">

    <input style="margin-top: 10px" class='boton' type="submit" value="Registrar">
</form>
    <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Ingresa</a></p>
</div>

{% endblock content %}