{% extends 'Dashboard/dashboard.html' %}
{% load static %}
{% block content %}
<div class="p-2 d-flex justify-content-center mt-5 ">
    <div class="col-md-8 card cardPerfilCol mt-5" id="cardContactos">
        <div class="row">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card p-2 ">
                            <ul class="tab-list nav flex-column nav-pills px-5">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12">
                                        <li class="nav-item tab-list__item">
                                            <a class="next-step step-tab1 tab-list__link nav-link active"
                                                data-bs-toggle="pill" href="#sanjose">San José</a>
                                        </li>
                                    </div>
                                    <div class="col-lg-8 col-md-12">
                                        <li class="nav-item tab-list__item">
                                            <a class="next-step step-tab1 tab-list__link nav-link" data-bs-toggle="pill"
                                                href="#alajuela">Alajuela</a>
                                        </li>
                                    </div>
                                    <div class="col-lg-8 col-md-12">
                                        <li class="nav-item tab-list__item">
                                            <a class="next-step step-tab1 tab-list__link nav-link" data-bs-toggle="pill"
                                                href="#heredia">Heredia</a>
                                        </li>
                                    </div>
                                    <div class="col-lg-8 col-md-12">
                                        <li class="nav-item tab-list__item">
                                            <a class="next-step step-tab1 tab-list__link nav-link" data-bs-toggle="pill"
                                                href="#santos">Los Santos</a>
                                        </li>
                                    </div>
                                    <div class="col-lg-8 col-md-12">
                                        <li class="nav-item tab-list__item">
                                            <a class="next-step step-tab1 tab-list__link nav-link" data-bs-toggle="pill"
                                                href="#puriscal">Puriscal</a>
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tab-content mt-4 py-0 my-0">
                            <div class="tab-pane container active" id="sanjose">
                                <div class="row">
                                    <p>Puedes comunicarse a la Universidad Central de San José con los siguiente números
                                        de telefonos</p>
                                    <span>TEL: +506 4108-9400 ext. 9900</span>
                                </div>
                            </div>
                            <div class="tab-pane container fade" id="alajuela">
                                <div class="row">
                                    <p>Puedes comunicarse a la Universidad Central de Alajuela con los siguiente números
                                        de telefonos</p>
                                    <span>TEL: +506 4108-9400 ext 9970, 9971</span>
                                    <span>+4108-9487</span>
                                </div>
                            </div>
                            <div class="tab-pane container fade" id="heredia">
                                <div class="row">
                                    <p>Puedes comunicarse a la Universidad Central de Heredia con los siguiente números
                                        de telefonos</p>
                                    <span>TEL: +506 4108-9400 ext 9960, 9962</span>
                                    <span>+506 4108-9485</span>
                                </div>
                            </div>
                            <div class="tab-pane container fade" id="santos">
                                <div class="row">
                                    <p>Puedes comunicarse a la Universidad Central de Los Santos con los siguiente
                                        números de telefonos</p>
                                    <span>TEL: +506 4108-9400 ext 9991, 9990</span>
                                    <span>+506 4108-9489</span>
                                </div>
                            </div>
                            <div class="tab-pane container fade" id="puriscal">
                                <div class="row">
                                    <p>Puedes comunicarse a la Universidad Central de Puriscal con los siguiente números
                                        de telefonos</p>
                                    <span>TEL: +506 4108-9400 ext 9980, 9982</span>
                                    <span>+506 4108-9488</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.nav-link').click(function() {
            $('.nav-link').removeClass('active'); // Remover clase "active" de todos los enlaces
            $(this).addClass('active'); // Agregar clase "active" al enlace clicado
        });
    });
</script>
{% endblock content %}