{% extends 'Dashboard/dashboard.html' %}
{% block content %}
<div class="container">
<div class="row ">
    <div class="col-md-3 col-sm-12 border-right">
        <div class="row mt-2">
            <div class="col-md-12 mb-3">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    {% if fotoperfil %}
                    <img class="rounded-circle mt-5" width="200px" height="200px" src="{% url 'mostrar_foto' %}">
                    {% else %}
                    {% load static %}
                    <img class="rounded-circle mt-5" width="200px" height="200px" src="{% static 'img/user.png' %}">
                    {% endif %}
                    <span class="font-weight-bold">{{ user.username }}</span>
                    <span class="text-black-60"><span class="input-group-addon"><i class=""></i></span> {{ estudiante.correo_institucional }}</span>
                    <span> </span>
                </div>
            </div>
        </div>
        <div class="col-md-10 mx-auto mb-2">
            <div class="text-center">
                <a href="{% url 'change_password' %}" class="text-info">
                    <i class="fa-light fa-id-badge" aria-hidden="true"></i>
                    <span class="sr-only"></span> Cambiar Contraseña</a>
            </div>
        </div>
        <div class="col-md-10 mx-auto mb-2">
            <div class="text-center mb-2">
                <a href="{% url 'cambio_correo' %}" class="text-info">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="sr-only"></span>Cambiar Correo Personal</a>
            </div>
        </div>
        <div class="col-md-10 mx-auto mb-2">
            <div class="text-center mb-2">
                <a data-bs-toggle="modal" data-bs-target="#modal_foto" class="card-link">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="sr-only"></span>Cambiar Foto de Perfil</a>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-12 border-right">
        <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="mx-auto">Información de Perfil</h4>
            </div>
                <div class="row ">
                    <div class="col-md-6 col-sm-6 mb-3">
                        <label class="labels">Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre" value="{{ estudiante.nombre }}"
                            readonly>
                    </div>
                    <div class="col-md-6 col-sm-6 mb-3">
                        <label class="labels">Apellidos</label>
                        <input type="text" class="form-control"
                            value="{{ estudiante.primer_apellido }} {{ estudiante.segundo_apellido }}"
                            placeholder="Apellidos" readonly>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 col-sm-6 mb-3">
                        <label class="labels">País</label>
                        <input type="text" class="form-control" placeholder="Pais" value="{{ estudiante.nacionalidad }}" readonly>
                    </div>
                    <div class="col-md-6 col-sm-6 mb-3">
                        <label class="labels">Provincia</label>
                        <input type="text" class="form-control" name="provincia" value="{{ estudiante.provincia }}" placeholder="Provincia" readonly> 
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 col-sm-6 mb-3">
                        <label class="labels">Cantón</label>
                        <input type="text" class="form-control" name="canton" placeholder="Canton" value="{{ estudiante.canton }}" readonly>
                    </div>
                    <div class="col-md-6 col-sm-6 mb-3">
                        <label class="labels">Distrito</label>
                        <input type="text" class="form-control" name="distrito" placeholder="Distrito" value="{{ estudiante.distrito }}" readonly>
                    </div>
                    <div class="col-md-12 col-sm-6 mb-3">
                        <label class="labels">Direccion Exacta</label>
                        <input type="text" class="form-control" name="direccion_exacta" placeholder="Direccion Exacta" value="{{ estudiante.direccion_exacta }}" readonly>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 mb-3">
                        <label class="labels">Número Telefónico</label>
                        <input type="text" class="form-control" placeholder="Numero Telefonico" name="numero_telefonico"
                            value="{{ estudiante.numero_telefonico }}" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="labels">Segundo Número Telefónico</label>
                        <input type="text" class="form-control" placeholder="Segundo Numero Telefonico" name="numero_telefonico2"
                            value="{{ estudiante.numero_telefonico2 }}" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="labels">Correo Electrónico Personal</label>
                        <input type="text" class="form-control" placeholder="Correo Personal" name="correo_personal"
                            value="{{ estudiante.correo_personal }}" readonly>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 text-center">
                        <button class="btn btn-primary profile-button" data-bs-toggle="modal" data-bs-target="#modal_actualizacion">
                            <i class="fa fa-cloud" aria-hidden="true"></i> Actualizar Información Personal</button>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>

<!-- Model de Cambio de data -->
{% block modal_actualizacion%}
<div class="modal fade" id="modal_actualizacion" tabindex="-1" aria-labelledby="modal_actualizacionTitle" style="display: none"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_actualizacionTitle">
                    CAMBIO DE FOTO DE PERFIL
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><span class="icon-close2"></span></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" action="{% url 'cambiar_foto' %}">
                    {% csrf_token %}
                    <div class="form-floating mb-2 col-md-8" id="dis_provincia" style="display: block;">
                        <select id="provincia_select" class="form-select" name="provincia_select"
                          data-placeholder="Selecione Provincia" onchange="obtenerProvincia(this)" onclick="cargarProvincias()">
                          <option style="opacity: 0.65" value="" disabled selected hidden>Seleccione Provincia</option>
                        </select>
                        <label for="tipo" style="opacity: .65;">Provincia</label>
                        <input type="hidden" id="provincia" name="provincia">
                      </div>
                      <div class="form-floating mb-2 col-md-8" id="dis_canton" style="display: block;">
                        <select id="canton_select" class="form-select" name="canton_select" data-placeholder="Selecione Canton"
                          onchange="obtenerCanton(this)">
                          <option style="opacity: 0.65" value="" disabled selected hidden>Seleccione Cantón</option>
                        </select>
                        <label for="tipo" style="opacity: .65;">Cantón</label>
                        <input type="hidden" id="canton" name="canton">
                      </div>
                      <div class="form-floating mb-2 col-md-8" id="dis_distrito" style="display: block;">
                        <select id="distrito_select" class="form-select" name="distrito_select"
                          data-placeholder="Selecione Distrito" onchange="obtenerDistrito(this)">
                          <option style="opacity: 0.65" value="" disabled selected hidden>Seleccione Distrito</option>
                        </select>
                        <label for="tipo" style="opacity: .65;">Distrito</label>
                        <input type="hidden" id="distrito" name="distrito">
                      </div>
                    <div class="d-grid mb-2 d-flex justify-content-center">
                        <button type="submit" class="w-100 btn btn-lg btn-primary btn-sm rounded fw-bold" style="max-width: 175px;">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Cambiar Foto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock modal_actualizacion %}

<!-- Model de Cambio de foto -->
{% block modal_foto%}
<div class="modal fade" id="modal_foto" tabindex="-1" aria-labelledby="modal_fotoTitle" style="display: none"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_fotoTitle">
                    CAMBIO DE FOTO DE PERFIL
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><span class="icon-close2"></span></span>
                </button>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 mb-3">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        {% if fotoperfil %}
                        <img class="rounded-circle mt-5" width="200px" height="200px" src="{% url 'mostrar_foto' %}">
                        {% else %}
                        {% load static %}
                        <img class="rounded-circle mt-5" width="200px" height="200px" src="{% static 'img/user.png' %}">
                        {% endif %}
                        <span class="font-weight-bold">{{ user.username }}</span>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" action="{% url 'cambiar_foto' %}">
                    {% csrf_token %}
                    <div class="row ">
                        <div class="form-group col-md-12 mb-3">
                            <label for="floatingFile">
                                <i class="fa fa-upload" aria-hidden="true"></i>Foto de Perfil</label>
                            <input class="form-control" type="file" id="floatingFile" style="opacity: 0.65"
                                name="fotocambio" />
                        </div>
                    <div class="d-grid mb-2 d-flex justify-content-center">
                        <button type="submit" class="w-100 btn btn-lg btn-primary btn-sm rounded fw-bold" style="max-width: 175px;">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Cambiar Foto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock modal_foto %}

<style>
    body {
        background: rgb(255, 255, 255);
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #ffffff;
    }

    .profile-button {
        background: rgb(255, 209, 64);
        box-shadow: none;
        color: black;
        border: none;
    }

    .profile-button:hover {
        background: #000000;
    }

    .profile-button:focus {
        background: #000000;
        box-shadow: none;
    }

    .profile-button:active {
        background: #000000;
        box-shadow: none;
    }

    .back:hover {
        color: #000000;
        cursor: pointer;
    }

    .labels {
        font-size: 16px;
    }

    .add-experience:hover {
        background: rgb(255, 209, 64);
        color: black;
        cursor: pointer;
        border: solid 1px #ffffff;
    }
</style>

<script>
    var provinciasCargadas = false;
  
    function cargarProvincias() {
      if (provinciasCargadas) {
        return;
      }
  
      var select = document.getElementById("provincia_select");
  
      var url = "{% url 'obtener_provincia' %}";
      var request = new XMLHttpRequest();
      request.open('GET', url, true);
      request.onload = function () {
        if (request.status === 200) {
          var data = JSON.parse(request.responseText);
          select.options.length = 0;
          for (key in data) {
            var option = document.createElement("option");
            option.value = key;
            option.text = data[key];
            select.add(option);
          }
          provinciasCargadas = true;
          dataCantones(select);
          obtenerProvincia(select)
        }
      };
      request.send();
    }
  
    function cargarCantones(valor) {
      var select = document.getElementById("canton_select");
      var select2 = document.getElementById("distrito_select");
  
      var url = "/obtener-canton/?provincia_select=";
      var request = new XMLHttpRequest();
      request.open('GET', url + encodeURIComponent(valor), true);
      request.onload = function () {
        if (request.status === 200) {
          var data = JSON.parse(request.responseText);
          select.options.length = 0;
          for (key in data) {
            var option = document.createElement("option");
            option.value = key;
            option.text = data[key];
            select.add(option);
          }
          dataDistritos(select)
          obtenerCanton(select)
        }
      };
      request.send();
    }
  
    function cargarDistritos(valor1, valor2) {
      var select = document.getElementById("distrito_select");
  
      var url = "/obtener-distrito/?provincia_select=" + encodeURIComponent(valor1) + "&canton_select=" + encodeURIComponent(valor2);
      var request = new XMLHttpRequest();
      request.open('GET', url, true);
      request.onload = function () {
        if (request.status === 200) {
          var data = JSON.parse(request.responseText);
          select.options.length = 0;
          for (key in data) {
            var option = document.createElement("option");
            option.value = key;
            option.text = data[key];
            select.add(option);
          }
          obtenerDistrito(select)
        }
      };
      request.send();
    }
  
    var paisCargadas = false;
  
    function cargarPais() {
      if (paisCargadas) {
        return;
      }
  
      var select = document.getElementById("pais_select");
  
      select.options.length = 0; // Eliminamos todas las opciones anteriores
  
      var url = "{% url 'obtener_nacionalidad' %}";
      var request = new XMLHttpRequest();
      request.open('GET', url, true);
      request.onload = function () {
        if (request.status === 200) {
          var data = JSON.parse(request.responseText);
          for (key in data) {
            var option = document.createElement("option");
            option.value = key;
            option.text = data[key];
            select.add(option);
          }
          paisCargadas = true;
        }
      };
      request.send();
    }
  
    function dataCantones(select) {
      var valorSeleccionado = select.options[select.selectedIndex].value;
      cargarCantones(valorSeleccionado);
    }
  
    function dataDistritos(select) {
      const miSelect = document.getElementById('provincia_select');
      var valorSeleccionado = select.options[select.selectedIndex].value;
  
      cargarDistritos(miSelect.value, valorSeleccionado);
    }
  
    function obtenerPais(select) {
      var textoSeleccionado = select.options[select.selectedIndex].text;
      document.getElementById('pais').value = textoSeleccionado;
    }
    function obtenerProvincia(select) {
      var textoSeleccionado = select.options[select.selectedIndex].text;
      document.getElementById('provincia').value = textoSeleccionado;
      dataCantones(select)
    }
    function obtenerCanton(select) {
      var textoSeleccionado = select.options[select.selectedIndex].text;
      document.getElementById('canton').value = textoSeleccionado;
      dataDistritos(select)
    }
    function obtenerDistrito(select) {
      var textoSeleccionado = select.options[select.selectedIndex].text;
      document.getElementById('distrito').value = textoSeleccionado;
    }
  
  </script>
{% endblock content %}

