{% extends 'Dashboard/dashboard.html' %}
{% block content %}
<div class="p-2">
    <div class="col-md-12 card cardPerfilCol">
        <div class="row p-2">
            <div class="col-md-3 col-sm-12">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="d-flex flex-column align-items-center text-center">
                            {% if fotoperfil %}
                            <img class="rounded-circle mt-5" width="200px" height="200px" src="{% url 'mostrar_foto' %}">
                            {% else %}
                            {% load static %}
                            <img class="rounded-circle mt-5" width="200px" height="200px" src="{% static 'img/user.png' %}">
                            {% endif %}
                            <span class="font-weight-bold">{{ user.username }}</span>
                            <span class="text-black-60"><span class="input-group-addon"><i class=""></i></span> {{ estudiante.correo_institucional }}</span>
                            <span> </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 mx-auto mb-2">
                    <div class="text-center">
                        <a href="{% url 'change_password' %}" class="text-info">
                            <i class="fa-light fa-id-badge" aria-hidden="true"></i>
                            <span class="sr-only"></span> Cambiar Contraseña</a>
                    </div>
                </div>
                <div class="col-md-10 mx-auto mb-2">
                    <div class="text-center mb-2">
                        <a data-bs-toggle="modal" data-bs-target="#modal_foto" class="card-link">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span class="sr-only"></span>Cambiar Foto de Perfil</a>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 mx-auto">
                <div class="p-3 py-3">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="mx-auto">Información de Perfil</h4>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 col-sm-6">
                            <label class="labels">Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre" value="{{ estudiante.nombre }}"
                                readonly>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="labels">Apellidos</label>
                            <input type="text" class="form-control"
                                value="{{ estudiante.primer_apellido }} {{ estudiante.segundo_apellido }}"
                                placeholder="Apellidos" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 col-sm-6">
                            <label class="labels">País</label>
                            <input type="text" class="form-control" placeholder="Pais" value="{{ estudiante.nacionalidad }}"
                                readonly>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="labels">Provincia</label>
                            <input type="text" class="form-control" name="provincia" value="{{ estudiante.provincia }}"
                                placeholder="Provincia" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 col-sm-6">
                            <label class="labels">Cantón</label>
                            <input type="text" class="form-control" name="canton" placeholder="Canton"
                                value="{{ estudiante.canton }}" readonly>
                        </div>
                        <div class="col-md-6 col-sm-6 mb-3">
                            <label class="labels">Distrito</label>
                            <input type="text" class="form-control" name="distrito" placeholder="Distrito"
                                value="{{ estudiante.distrito }}" readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Direccion Exacta</label>
                            <input type="text" class="form-control" name="direccion_exacta" placeholder="Direccion Exacta"
                                value="{{ estudiante.direccion_exacta }}" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="labels">Número Telefónico</label>
                            <input type="text" class="form-control" placeholder="Numero Telefonico" name="numero_telefonico"
                                value="{{ estudiante.numero_telefonico }}" readonly>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="labels">Segundo Número Telefónico</label>
                            <input type="text" class="form-control" placeholder="Segundo Numero Telefonico"
                                name="numero_telefonico2" value="{{ estudiante.numero_telefonico2 }}" readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Correo Electrónico Personal</label>
                            <input type="text" class="form-control" placeholder="Correo Personal" name="correo_personal"
                                value="{{ estudiante.correo_personal }}" readonly>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <button class="btn btn-primary profile-button" data-bs-toggle="modal"
                                data-bs-target="#modal_actualizacion">
                                <i class="fa fa-cloud" aria-hidden="true"></i> Actualizar Información Personal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Model de Cambio de data -->
{% block modal_actualizacion%}
<div class="modal fade" id="modal_actualizacion" tabindex="-1" aria-labelledby="modal_actualizacionTitle"
    style="display: none" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <div class="row">
                    <div class="col-12">
                        <h5 class="modal-title" id="modal_actualizacionTitle">
                            CAMBIO DE DATOS PERSONALES
                        </h5>
                    </div>
                    <div class="col-12">
                        <p>
                            Cambie los cambios que desea actualizar. Los datos seran enviados como solicitud para ser
                            verificados y aprobados.
                        </p>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><span class="icon-close2"></span></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" class="row g-3" enctype="multipart/form-data" action="{% url 'enviar_solicitud' %}">
                    {% csrf_token %}

                    <div class="form-floating mb-2 col-md-4" id="dis_provincia" style="display: block;">
                        <select id="provincia_select" class="form-select" name="provincia_select"
                            data-placeholder="Selecione Provincia" onchange="obtenerProvincia(this)"
                            onclick="cargarProvincias()" style="height: 20px;">
                            <option style="opacity: 0.65" value="" disabled selected hidden>Seleccione Provincia
                            </option>
                        </select>
                        <label for="tipo" style="opacity: .65;">Provincia</label>
                        <input type="hidden" value="NA" id="provincia" name="provincia">
                    </div>
                    <div class="form-floating mb-2 col-md-4" id="dis_canton" style="display: block;">
                        <select id="canton_select" class="form-select" name="canton_select"
                            data-placeholder="Selecione Canton" onchange="obtenerCanton(this)" style="height: 20px;">
                            <option style="opacity: 0.65" value="" disabled selected hidden>Seleccione Cantón</option>
                        </select>
                        <label for="tipo" style="opacity: .65;">Cantón</label>
                        <input type="hidden" value="NA" id="canton" name="canton">
                    </div>
                    <div class="form-floating mb-2 col-md-4" id="dis_distrito" style="display: block;">
                        <select id="distrito_select" class="form-select" name="distrito_select"
                            data-placeholder="Selecione Distrito" onchange="obtenerDistrito(this)"
                            style="height: 20px;">
                            <option style="opacity: 0.65" value="" disabled selected hidden>Seleccione Distrito</option>
                        </select>
                        <label for="tipo" style="opacity: .65;">Distrito</label>
                        <input type="hidden" value="NA" id="distrito" name="distrito">
                    </div>

                    <div class="form-floating mb-6 col-md-12">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" fill="currentColor"
                                    class="bi bi-person-vcard" viewBox="0 0 16 16">
                                    <path
                                        d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z">
                                    </path>
                                    <path
                                        d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z">
                                    </path>
                                </svg>
                            </span>
                            <input type="text" class="form-control" value="{{ estudiante.direccion_exacta }}"
                                id="direccion_exacta" placeholder="Direccion Exacta" name="direccion_exacta" required>
                        </div>
                    </div>

                    <div class="form-floating mb-6 col-md-4" id="dis_telefono" style="display: block;">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" fill="currentColor"
                                    class="bi bi-telephone-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z">
                                    </path>
                                    <path fill-rule="evenodd"
                                        d="M12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5z">
                                    </path>
                                </svg>
                            </span>
                            <input type="text" class="form-control" value="{{ estudiante.numero_telefonico }}"
                                id="telefono" placeholder="Número Telefónico" name="telefono">
                        </div>
                    </div>

                    <div class="form-floating mb-6 col-md-4" id="dis_telefono2" style="display: block;">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" fill="currentColor"
                                    class="bi bi-telephone-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z">
                                    </path>
                                    <path fill-rule="evenodd"
                                        d="M12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5z">
                                    </path>
                                </svg>
                            </span>
                            <input type="text" class="form-control" value="{{ estudiante.numero_telefonico2 }}"
                                id="telefono2" placeholder="Segundo Número Telefónico" name="telefono2">
                        </div>
                    </div>

                    <div class="form-floating mb-6 col-md-4" id="dis_correo" style="display: block;">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" fill="currentColor"
                                    class="bi bi-envelope-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z">
                                    </path>
                                    <path
                                        d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z">
                                    </path>
                                </svg>
                            </span>
                            <input type="email" value="{{ estudiante.correo_personal }}" class="form-control"
                                id="correo" placeholder="Correo" name="email" required
                                pattern="(?![_.-])((?![_.-][_.-])[a-zA-Z\d_.-]){0,63}[a-zA-Z\d]@((?!-)((?!--)[a-zA-Z\d-]){0,63}[a-zA-Z\d]\.){1,2}([a-zA-Z]{2,14}\.)?[a-zA-Z]{2,14}">
                        </div>
                    </div>

                        <div class="d-grid d-flex justify-content-center">
                            <button type="submit" id="liveToastBtn" onclick="solicitud()"
                                class="btn btn-lg btn-primary btn-sm rounded fw-bold" style="max-width: 300px;">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar Solicitud de Cambio de
                                Datos</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock modal_actualizacion %}

<!-- Model de Cambio de foto -->
{% block modal_foto%}
<div class="modal fade" id="modal_foto" tabindex="-1" aria-labelledby="modal_fotoTitle" style="display: none"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_fotoTitle">
                    CAMBIO DE FOTO DE PERFIL
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><span class="icon-close2"></span></span>
                </button>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 mb-3">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        {% if fotoperfil %}
                        <img class="rounded-circle mt-5" width="200px" height="200px" src="{% url 'mostrar_foto' %}">
                        {% else %}
                        {% load static %}
                        <img class="rounded-circle mt-5" width="200px" height="200px" src="{% static 'img/user.png' %}">
                        {% endif %}
                        <span class="font-weight-bold">{{ user.username }}</span>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" action="{% url 'cambiar_foto' %}">
                    {% csrf_token %}
                    <div class="row ">
                        <div class="form-group col-md-12 mb-3">
                            <label for="floatingFile">
                                <i class="fa fa-upload" aria-hidden="true"></i>Foto de Perfil</label>
                            <input class="form-control" type="file" id="floatingFile" style="opacity: 0.65"
                                name="fotocambio" />
                        </div>
                        <div class="d-grid mb-2 d-flex justify-content-center">
                            <button type="submit" class="w-100 btn btn-lg btn-primary btn-sm rounded fw-bold"
                                style="max-width: 175px;">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i> Cambiar Foto</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock modal_foto %}

<style>
    body {
        background: rgb(255, 255, 255);
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #ffffff;
    }

    .profile-button {
        background: rgb(255, 209, 64);
        box-shadow: none;
        color: black;
        border: none;
    }

    .profile-button:hover {
        background: #000000;
    }

    .profile-button:focus {
        background: #000000;
        box-shadow: none;
    }

    .profile-button:active {
        background: #000000;
        box-shadow: none;
    }

    .back:hover {
        color: #000000;
        cursor: pointer;
    }

    .labels {
        font-size: 16px;
    }

    .add-experience:hover {
        background: rgb(255, 209, 64);
        color: black;
        cursor: pointer;
        border: solid 1px #ffffff;
    }
</style>

<script>
    var provinciasCargadas = false;

    function cargarProvincias() {
        if (provinciasCargadas) {
            return;
        }

        var select = document.getElementById("provincia_select");

        var url = "{% url 'obtener_provincia' %}";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                select.options.length = 0;
                for (key in data) {
                    var option = document.createElement("option");
                    option.value = key;
                    option.text = data[key];
                    select.add(option);
                }
                provinciasCargadas = true;
                dataCantones(select);
                obtenerProvincia(select)
            }
        };
        request.send();
    }

    function cargarCantones(valor) {
        var select = document.getElementById("canton_select");
        var select2 = document.getElementById("distrito_select");

        var url = "/obtener-canton/?provincia_select=";
        var request = new XMLHttpRequest();
        request.open('GET', url + encodeURIComponent(valor), true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                select.options.length = 0;
                for (key in data) {
                    var option = document.createElement("option");
                    option.value = key;
                    option.text = data[key];
                    select.add(option);
                }
                dataDistritos(select)
                obtenerCanton(select)
            }
        };
        request.send();
    }

    function cargarDistritos(valor1, valor2) {
        var select = document.getElementById("distrito_select");

        var url = "/obtener-distrito/?provincia_select=" + encodeURIComponent(valor1) + "&canton_select=" + encodeURIComponent(valor2);
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                select.options.length = 0;
                for (key in data) {
                    var option = document.createElement("option");
                    option.value = key;
                    option.text = data[key];
                    select.add(option);
                }
                obtenerDistrito(select)
            }
        };
        request.send();
    }

    var paisCargadas = false;

    function cargarPais() {
        if (paisCargadas) {
            return;
        }

        var select = document.getElementById("pais_select");

        select.options.length = 0; // Eliminamos todas las opciones anteriores

        var url = "{% url 'obtener_nacionalidad' %}";
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function () {
            if (request.status === 200) {
                var data = JSON.parse(request.responseText);
                for (key in data) {
                    var option = document.createElement("option");
                    option.value = key;
                    option.text = data[key];
                    select.add(option);
                }
                paisCargadas = true;
            }
        };
        request.send();
    }

    function dataCantones(select) {
        var valorSeleccionado = select.options[select.selectedIndex].value;
        cargarCantones(valorSeleccionado);
    }

    function dataDistritos(select) {
        const miSelect = document.getElementById('provincia_select');
        var valorSeleccionado = select.options[select.selectedIndex].value;

        cargarDistritos(miSelect.value, valorSeleccionado);
    }

    function obtenerPais(select) {
        var textoSeleccionado = select.options[select.selectedIndex].text;
        document.getElementById('pais').value = textoSeleccionado;
    }
    function obtenerProvincia(select) {
        var textoSeleccionado = select.options[select.selectedIndex].text;
        document.getElementById('provincia').value = textoSeleccionado;
        dataCantones(select)
    }
    function obtenerCanton(select) {
        var textoSeleccionado = select.options[select.selectedIndex].text;
        document.getElementById('canton').value = textoSeleccionado;
        dataDistritos(select)
    }
    function obtenerDistrito(select) {
        var textoSeleccionado = select.options[select.selectedIndex].text;
        document.getElementById('distrito').value = textoSeleccionado;
    }

</script>
{% endblock content %}