{% extends 'Dashboard/dashboard.html' %}
{% load static %}
{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
{% block style_sheets %}
<script src="{% static 'js/legal.js' %}"></script>
{% endblock %}
{% endblock %}
{% block content %}
<div class="p-2 d-flex justify-content-center mx-auto ">
    <div class="col-md-12 card cardPerfilCol ">
        <div class="card-body">
            <div class="row">
                <ul class="tab-list nav nav-pills nav-fill" role="tablist" id="v-pills-tab">
                    <li class="nav-item tab-list__item">
                        <a class="nav-link mb-3 p-3 shadow active" data-bs-toggle="pill" href="#v-pills-Sitio">Uso del
                            Sitio Web</a>
                    </li>
                    <li class="nav-item tab-list__item">
                        <a class="nav-link mb-3 p-3 shadow" data-bs-toggle="pill" href="#v-pills-Matricula">Condiciones
                            de Matrícula</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-Sitio" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <a class="font-italic mb-4 divLegalHover" href="#"
                            onclick="mostrarDivLegal('divSitio');">Propósito del Sitio</a>
                        <div class="divLegal" id="divSitio">
                            <ol type="a">
                                <li>
                                    <p class="font-italic text-muted mb-2">La Universidad Internacional de las Americas
                                        pone a disposición de sus usuarios una plataforma e-Commerce para realizar la
                                        matrícula, el pago de cursos y de otros servicios que serán cancelados mediante
                                        los depósitos en línea y con tarjetas de crédito.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">La Universidad Internacional de las Americas
                                        se reserva el derecho de ofrecer y modificar la configuración de los servicios
                                        que presta y de modificar estos Términos y Condiciones de Uso. Todos los
                                        términos enmendados serán efectivos inmediatamente después de ser publicados en
                                        la página de internet.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Las violaciones de estas Condiciones de Uso,
                                        incluyendo el uso no autorizado del sitio, pueden facultar a la Universidad
                                        Internacional de las Americas para tomar las acciones técnicas y legales que se
                                        requieran.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">La Universidad Internacional de las Americas
                                        podrá restringir el acceso al Sitio, cancelar el pago de servicios adquiridos,
                                        eliminar cualquier contenido del Usuario no autorizado, o ejercer cualquier otra
                                        acción disponible, si posee elementos o indicios que la conducta del usuario o
                                        de cualquier tercero son inconsistentes con los Términos y Condiciones de Uso
                                        establecidos en esta página o en la Legislación, o que violan los derechos de la
                                        Universidad Internacional de las Americas, de un usuario de http://www.uia.ac.cr
                                        o cualquier otro usuario del Sitio.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">El Usuario acepta que la Universidad
                                        Internacional de las Americas no tiene la obligación de rendir ningún tipo de
                                        reembolso o indemnización si ejerce cualquier acción ante una presunta violación
                                        de los Términos y Condiciones de Uso o derechos de la Universidad Internacional
                                        de las Americas o de terceros.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Además, acepta que la Universidad
                                        Internacional de las Americas en todo momento se reserva el derecho de
                                        modificar, suspender o descontinuar cualquier parte de este Sitio, con o sin
                                        previo aviso. Del mismo modo, es entendido que la Universidad Internacional de
                                        las Americas, a su entera discreción, podrá imponer límites en ciertas funciones
                                        y servicios, así como restringir el acceso a cualquier parte o a todo el Sitio
                                        sin previo aviso.</p>
                                </li>
                            </ol>

                        </div>

                    </div>
                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <a class="font-italic mb-4 divLegalHover" href="#"
                            onclick="mostrarDivLegal('divPago');">Términos de pago</a>
                        <div class="divLegal" id="divPago">
                            <ol type="a">
                                <li>
                                    <p class="font-italic text-muted mb-2">Los términos de pago serán determinados
                                        discrecionalmente por la Universidad Internacional de las Americas y así lo
                                        comunicará oportunamente a los usuarios.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Para que el sitio acepte su pago, la
                                        Universidad Internacional de las Americas deberá haber recibido la
                                        correspondiente aprobación de parte de Ente Emisor de la tarjeta de crédito.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">La Universidad Internacional de las Americas
                                        no se hace de ninguna manera responsable si tal institución financiera rechaza
                                        la tarjeta de crédito por cualquier razón.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">La Universidad Internacional de las Americas
                                        no se hace responsable por cobros administrativos, diferenciales cambiarios ni
                                        por cargos de su banco o tarjeta por conversiones de moneda.</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <a class="font-italic mb-4 divLegalHover" href="#"
                            onclick="mostrarDivLegal('divAceptacion');">Términos de Aceptación de Orden</a>
                        <div class="divLegal" style="display: none;" id="divAceptacion">
                            <ol type="a">
                                <li>
                                    <p class="font-italic text-muted mb-2">La Universidad Internacional de las Americas
                                        se reserva el derecho en cualquier momento, después de que haya recibido la
                                        confirmación de su orden, de aceptar o de revocar su orden por cualquiera razón
                                        que estime conveniente u oportuna.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Si se declinara y existe un número de
                                        autorización establecido en la confirmación del cliente, el cual fue solicitado
                                        al banco emisor de la tarjeta, la Universidad Internacional de las Americas
                                        solicitará a éste la anulación o cancelación de esa autorización para que el
                                        disponible le sea liberado al cliente lo más pronto posible.</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <a class="font-italic mb-4 divLegalHover" href="#" onclick="mostrarDivLegal('divMedio');">Medio
                            para el pago</a>
                        <div class="divLegal" style="display: none;" id="divMedio">
                            <ol type="a">
                                <li>
                                    <p class="font-italic text-muted mb-2">La Universidad Internacional de las Americas
                                        no se hará responsable de ninguna manera si su proveedor de correo electrónico
                                        rechaza o cataloga como spam los correos electrónicos enviados desde nuestro
                                        sitio Web.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Es importante que imprima o escriba y
                                        conserve los datos que contiene el documento “factura electrónica”. El documento
                                        “factura electrónica” contiene entre otros datos, su número de factura. Este
                                        número de factura será necesario para poder realizar cualquier gestión o reclamo
                                        relacionado con la compra o el servicio pagado.</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <a class="font-italic mb-4 divLegalHover" href="#"
                            onclick="mostrarDivLegal('divEnvio');">Políticas de Envío</a>
                        <div class="divLegal" style="display: none;" id="divEnvio">
                            <ol type="a">
                                <li>
                                    <p class="font-italic text-muted mb-2"><strong>Condiciones.</strong> Los cursos y
                                        servicios se
                                        impartirán únicamente en las sedes de la Universidad Internacional de las
                                        Americas. Es responsabilidad del estudiante asistir a ellos. En caso de
                                        solicitud de documentos el solicitante lo deberá retirar personalmente
                                        presentando identificación que lo autentique como tal en la Sede de la
                                        Universidad en donde se encuentre matriculado. La Universidad no envía a
                                        domicilio ningún documento solicitado o pagado por este medio.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2"><strong>Tiempo.</strong> La confección de los
                                        documentos tiene
                                        una duración de cuatro días después de los cuales el solicitante puede acudir a
                                        la Universidad a retirarlos.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2"><strong>Procedimiento.</strong> La
                                        Universidad Internacional
                                        de las Americas no envía ninguno de sus servicios, certificaciones ni títulos.
                                        Todo debe ser retirado en la Universidad y todo trámite es estrictamente
                                        personal.</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <a class="font-italic mb-4 divLegalHover" href="#"
                            onclick="mostrarDivLegal('divCancelacion');">Políticas de Cancelación y Devolución</a>
                        <div class="divLegal" style="display: none;" id="divCancelacion">
                            <ol type="a">
                                <li>
                                    <p class="font-italic text-muted mb-2"><strong>Política de reembolso.</strong> Todos
                                        los cargos son
                                        no-reembolsables.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2"><strong>Condiciones.</strong> La Universidad
                                        no realizará
                                        retiros justificados, devoluciones, congelamientos o acreditaciones de fondos
                                        salvo que el servicio no se preste por causas imputables a la Institución.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2"><strong>Tiempo.</strong> Si el interesado
                                        realizó el pago del
                                        curso y no podrá asistir, deberá informar de esa situación con al menos quince
                                        días hábiles de anticipación al inicio del respectivo curso. De no cumplir con
                                        el plazo establecido la Universidad Internacional de las Americas no devolverá
                                        ni acreditará suma alguna al interesado.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2"><strong>Procedimiento.</strong> Deberá
                                        entregar una nota
                                        explicativa por escrito dirigida a la Dirección Administrativa, en las oficinas
                                        de la Universidad. La nota deberá entregarse en forma personal únicamente.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2"><strong>Asignación.</strong> Los alumnos y
                                        clientes de la
                                        Universidad Internacional de las Americas no pueden transferir ni asignar los
                                        derechos u obligaciones que tengan por el uso de esta plataforma.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2"><strong>Inactividad.</strong> El acceso a la
                                        información se
                                        pierde al inicio de cada periodo lectivo, si el alumno no ha cancelado la
                                        matrícula no podrá visualizar sus datos.</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <a class="font-italic mb-4 divLegalHover" href="#" onclick="mostrarDivLegal('divPP');">Políticas
                            de Privacidad</a>
                        <div class="divLegal" style="display: none;" id="divPP">
                            <ol type="a">
                                <li>
                                    <p class="font-italic text-muted mb-2">Usted acepta la recopilación, procesamiento y
                                        almacenamiento por parte de la Universidad Internacional de las Americas de su
                                        información personal de acuerdo con los términos de la Política de Privacidad de
                                        la Universidad Internacional de las Americas, que está disponible en esta
                                        página. Usted se compromete a cumplir con todas las leyes y reglamentos
                                        aplicables, y los términos de la Política de Privacidad de la Universidad
                                        Internacional de las Americas, con respecto al acceso, uso y / o envío de
                                        cualquier información personal en conexión con este Sitio Web.

                                        Si alguna cláusula de los Términos y Condiciones de Uso llegara a ser inválida,
                                        ilegal o inaplicable, la validez, la legalidad y la aplicabilidad de las
                                        cláusulas restantes de ninguna manera serán afectadas ni deterioradas de ningún
                                        modo.

                                        El Usuario, declara haber leído, conocido y aceptado en todas sus extensiones
                                        los Términos y Condiciones de Uso y las condiciones expuestas.

                                        Si tiene alguna duda o pregunta por favor contáctenos a
                                        <strong>sa-en-linea@uia.ac.cr</strong>
                                    </p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade shadow rounded bg-white show p-5" id="v-pills-Matricula" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <a class="font-italic mb-4 divLegalHover" href="#"
                            onclick="mostrarDivLegal('divMATRICULA');">CONDICIONES DE MATRÍCULA ESTUDIANTES
                            REGULARES</a>
                        <div class="divLegal" id="divMATRICULA">
                            <ol type="1">
                                <li>
                                    <p class="font-italic text-muted mb-2">Formalizar los trámites, en caso de que desee
                                        el reconocimiento de estudios efectuados en otra institución de Educación
                                        Superior, dentro del mes siguiente a mi ingreso a la Universidad Internacional
                                        de las Americas.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Cursar la carrera de manera ordenada y
                                        aprobar los cursos que se constituyen en requisito para cursar otros cursos
                                        posteriores.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Asistir puntualmente a las lecciones y otras
                                        actividades relacionadas con su formación académica.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Colaborar y participar activamente en las
                                        lecciones.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Atender con compromiso, responsabilidad,
                                        seriedad y esfuerzo sus procesos de aprendizaje</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Contribuir, con mi conducta y mi
                                        participación responsables, en la creación, el mantenimiento y el
                                        fortalecimiento de un ambiente adecuado para el aprendizaje.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Cumplir estricta y puntualmente con el
                                        calendario, los horarios y las instrucciones que rigen para el desarrollo de las
                                        actividades universitarias.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Justificar, ante el profesor, mis ausencias a
                                        las lecciones, en el entendido de que tres ausencias injustificadas a lecciones
                                        conllevan la pérdida del curso.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Dar seguimiento a los resultados de las
                                        materias cursadas.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Actuar con honestidad y honradez en todas sus
                                        acciones académicas.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Ejecutar, en forma personal, las pruebas,
                                        según los criterios y procedimientos de evaluación que se establezcan.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Respetar los derechos de los compañeros
                                        estudiantes y profesores, así como su dignidad.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Cuidar las instalaciones, equipos y
                                        materiales de la Universidad Internacional de las Americas, de los compañeros
                                        estudiantes y profesores.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Mostrar una conducta y comportamiento que me
                                        dignifiquen como persona y que enaltezcan mi buen nombre tanto de la
                                        Universidad, como de la comunidad en general.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Vestir con decoro y cumplir estrictamente con
                                        las regulaciones, establecidas por la Universidad Internacional de las Americas,
                                        en cuanto a la presentación personal.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Practicar con esmero las normas de
                                        consideración y respeto en las relaciones con mis compañeros, con los
                                        profesores, con el personal y autoridades de la Universidad.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Respetar celosamente las normas de
                                        convivencia humana, dentro y fuera de la Universidad y, muy particularmente, los
                                        derechos que corresponden a las demás personas.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Actuar, en todo momento y lugar, con la
                                        dignidad y el decoro que imponen las normas de urbanidad vigentes en la sociedad
                                        costarricense.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Respetar la integridad física, emocional y
                                        moral de mis compañeros, profesores y, en general, de todos los funcionarios de
                                        la institución.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Respetar los bienes de mis profesores y
                                        compañeros y de los funcionarios de la Universidad.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Cumplir cabalmente las orientaciones e
                                        indicaciones que me formulen las autoridades universitarias.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Ejercer mi derecho a revisión y apelación de
                                        los exámenes y de las calificaciones finales, mediante los procedimientos que
                                        establecen los reglamentos universitarios.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Mantenerme al día en el pago de mis
                                        obligaciones económicas con la Universidad.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-3">Conocer mis deberes y derechos que se
                                        explicitan en el Reglamento del Régimen Estudiantil y en el Manual del
                                        Estudiante.</p>
                                </li>
                            </ol>
                            <p class="font-italic text-muted mb-2">Estoy de acuerdo que solo podré hacer retiro o
                                congelamiento en aquellos casos en que la Universidad Internacional de las Americas no
                                pueda brindar el servicio, que conozco las disposiciones para realizar cambios. Asimismo
                                acepto que esta matricula se considera provisional y queda sujeta a la aprobación de los
                                requisitos académicos correspondientes.<br>

                                Declaro que conozco las características de la carrera que matriculo, los requisitos de
                                ingreso y los requisitos de graduación. Así mismo, que he recibido el manual básico del
                                estudiante y acepto las disposiciones que en él se indican.</p>
                        </div>

                    </div>
                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <a class="font-italic mb-4 divLegalHover" href="#"
                            onclick="mostrarDivLegal('divESPECIALES');">DISPOSICIONES ESPECIALES PARA LA CARRERA DE
                            MEDICINA Y CIRUGIA</a>
                        <div class="divLegal" style="display: none;" id="divESPECIALES">
                            <ol type="1">
                                <li>
                                    <p class="font-italic text-muted mb-2">En las ciencias básicas y humanidades
                                        incluidos hasta el cuarto ciclo lectivo de la carrera, el estudiante que pierde
                                        un curso por primera vez, debe repetirlo en el ciclo lectivo siguiente, en
                                        sustitución de una de las materias de ese bloque, y podrá cursar las otras
                                        materias de ese bloque que no requieran del curso no aprobado como requisito
                                        académico. Si no lo aprueba en esa segunda oportunidad, debe matricular
                                        solamente ese curso en el siguiente ciclo lectivo. Si por tercera vez no lo
                                        aprueba deberá de cambiar de carrera.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Ningún estudiante podrá ingresar a los
                                        bloques de ciencias clínicas-del quinto ciclo lectivo de la carrera en adelante
                                        si no ha aprobado todas las materias comprendidas hasta el cuarto ciclo lectivo
                                        de la carrera.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">En lo que respecta a las ciencias preclínicas
                                        y clínicas, si un estudiante no aprueba una de las materias de un ciclo lectivo
                                        o bloque, debe aprobar ese curso antes de avanzar al siguiente bloque, puesto
                                        que cada una de las materias es requisito para cursar aquellas ubicadas en los
                                        cuatrimestres siguientes.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Quedan excluidos de las disposiciones de los
                                        puntos 2 y 3, los cursos de Inglés Médico I y II y Métodos de Investigación, los
                                        que el alumno puede cursar en conjunto con una materia de las áreas preclínica y
                                        clínica o matricularlos antes de ingresar al quinto ciclo lectivo.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">En los casos en que el estudiante solicite
                                        matrícula y no haya aprobado aún el curso o bloque anterior, que es requisito
                                        del que desea matricular, deberá declararlo así en su boleta de matrícula y
                                        aceptar su reubicación en el curso anterior, si no lo aprueba.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Los estudiantes de Medicina y Cirugía deberán
                                        presentarse a sus lecciones, tanto en las instalaciones de la Universidad como
                                        en los hospitales, con ropa formal.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Los estudiantes de Medicina y Cirugía deberán
                                        presentarse a sus laboratorios, en las instalaciones de la universidad como en
                                        los hospitales con su respectiva gabacha con la insignia de Escuela de Medicina
                                        y los equipos de seguridad que se requieran. En caso contrario no podrán
                                        ingresar a estos servicios.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Todos aquellos estudiantes que realicen sus
                                        rotaciones en hospitales y clínicas deberán contar con las vacunas exigidas para
                                        el ingreso a los diferentes servicios, de acuerdo con las disposiciones propias
                                        de la Universidad y de los hospitales y clínicas.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Todos aquellos estudiantes que realicen sus
                                        rotaciones en los hospitales y clínicas deberán asistir y participar en los
                                        cursos preparatorios específicos, que se requieran para su ingreso a un
                                        determinado servicio.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Las disposiciones del Reglamento de la
                                        Actividad Clínica Docente de la CCSS son de obligatorio acatamiento por parte de
                                        los estudiantes de Medicina y Cirugía.</p>
                                </li>
                            </ol>
                        </div>

                    </div>
                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <a class="font-italic mb-4 divLegalHover" href="#"
                            onclick="mostrarDivLegal('divCARRERA');">DISPOSICIONES ESPECIALES PARA LA CARRERA DE
                            ARQUITECTURA</a>
                        <div class="divLegal" style="display: none;" id="divCARRERA">
                            <ol type="1">
                                <li>
                                    <p class="font-italic text-muted mb-2">El estudiante que pierda hasta tres veces el
                                        mismo curso, deberá repetirlo en el ciclo lectivo siguiente; no obstante, si lo
                                        pierde por tercera vez, puede pedir autorización al Director de Carrera, para
                                        poder cursarlo por cuarta vez. Si por cuarta vez reprueba, deberá retirarse de
                                        la carrera un cuatrimestre; salvo que exista una autorización especial del
                                        Consejo de Carrera.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Ningún estudiante podrá ingresar al bloque de
                                        Licenciatura, si no ha aprobado todas las materias comprendidas hasta el octavo
                                        ciclo de la carrera (Bachillerato) Para optar por alguna de las materias de
                                        Licenciatura que no tiene requisitos eslabonados, requerirá de la autorización
                                        de la Dirección de Carrera.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Los estudiantes están en la obligación de
                                        formalizar las solicitudes de convalidación de estudios realizados en otras
                                        entidades de la Educación Superior, como máximo, durante el ciclo lectivo de su
                                        ingreso a la Universidad. Los estudiantes que no cuentan con la convalidación
                                        definitiva, pasado ese término, se arriesgan a que su matrícula no sea aceptada
                                        por la Dirección de Registro. De igual manera, podrán ser objeto de cambios en
                                        la convalidación provisional, producto de modificaciones en la política de
                                        reconocimiento, por acuerdo del Consejo Universitario, posteriores a la fecha de
                                        la solicitud. Las convalidaciones de materias se realizan por una sola vez, de
                                        manera que no se admitirán solicitudes de convalidaciones adicionales.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">En los casos en que el estudiante matriculó
                                        provisionalmente una materia, porque aún no tiene los resultados de la materia
                                        del curso requisito; en caso de no aprobar dicho curso, deberá solicitar su
                                        reubicación en el curso reprobado.</p>
                                </li>
                                <li>
                                    <p class="font-italic text-muted mb-2">Estoy de acuerdo que solo podré hacer retiro
                                        o congelamiento en aquellos casos en que la Universidad Internacional de las
                                        Americas no pueda brindar el servicio, que conozco las disposiciones para
                                        realizar cambios. Asimismo acepto que esta matricula se considera provisional y
                                        queda sujeta a la aprobación de los requisitos académicos correspondientes.</p>
                                </li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}