{% extends 'Dashboard/Administrativo/baseAdministrativo.html' %}
{% load static %}
{% block extraJavaScript %}

{% endblock %}
{% block barranavegacion %}
{% include 'Dashboard/Administrativo/Componentes/navbarAdministrativoS.html' %}
{% endblock barranavegacion %}

{% block content %}
<div class="p-2 mt-5">
    <section class="news section-padding mt-5" id="inicio">
        <div class="row p-2 mt-5">
            <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto card cardPerfilCol mt-4">
                <h1 class="card-title p-2 text-center fw-bold ">Usuarios</h1>
                <div class="card mb-4 mt-1">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist" id="v-pills-tab">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="pill"
                                    href="#v-pills-estudianteN">Estudiante</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="pill" href="#v-pills-profesorN">Profesor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="pill" href="#v-pills-prospectoN">Prospecto</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active mb-3" id="v-pills-estudianteN" role="tabpanel"
                                aria-labelledby="v-pills-home-tab">
                                <div class="panel panel-primary filtroTable">
                                    <div class="panel-heading mb-3">
                                        <div class="d-flex justify-content-between">
                                            <h3>Estudiantes</h3>
                                        </div>
                                    </div>
                                    <div class="table-responsive-md">
                                        <table class="table table-striped table-bordered dataTable" id="tablaU">
                                            <thead class="tabla">
                                                <tr class="filters">
                                                    <th class="text-center" style="width: 120px;">Correo institucional</th>
                                                    <th class="text-center" style="width: 120px;">Fecha creación</th>
                                                    <th class="text-center" style="width: 120px;">Ultimo ingreso</th>
                                                    <th class="text-center" style="width: 120px;">Activo</th>
                                                    <th style="width: 120px;">Inspeccionar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for usuario in usuariosE %}
                                                <tr style="display: table-row;">
                                                    <td class="text-center">{{usuario.email}}</td>
                                                    <td class="text-center">{{usuario.fecha_creacion}}</td>
                                                    <td class="text-center">{{usuario.fecha_ingreso}}</td>
                                                    <td class="text-center"><input type="checkbox"
                                                            class="form-check-input" checked="{{usuario.activo}}"></td>
                                                    <td class="text-center"><a href="{% url 'inspeccionar' type='Estudiante' id=usuario.id status=1 %}"><i
                                                                class="fa-solid fa-eye"></i></a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show mb-3" id="v-pills-profesorN" role="tabpanel"
                                aria-labelledby="v-pills-home-tab">
                                <div class="panel panel-primary filtroTable">
                                    <div class="panel-heading mb-3">
                                        <div class="d-flex justify-content-between">
                                            <h3>Profesores</h3>
                                        </div>
                                    </div>
                                    <div class="table-responsive-md">
                                        <table class="table table-striped table-bordered dataTable tablaP" id="tablaU">
                                            <thead class="tabla">
                                                <tr class="filters">
                                                    <th class="text-center" style="width: 120px;">Correo institucional</th>
                                                    <th class="text-center" style="width: 120px;">Fecha creación</th>
                                                    <th class="text-center" style="width: 120px;">Ultimo ingreso</th>
                                                    <th class="text-center" style="width: 120px;">Activo</th>
                                                    <th class="text-center" style="width: 120px;">Inspeccionar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for usuario in usuariosP %}
                                                <tr style="display: table-row;">
                                                    <td class="text-center">{{usuario.email}}</td>
                                                    <td class="text-center">{{usuario.fecha_creacion}}</td>
                                                    <td class="text-center">{{usuario.fecha_ingreso}}</td>
                                                    <td class="text-center"><input type="checkbox"
                                                            class="form-check-input" checked="{{usuario.activo}}"></td>
                                                    <td class="text-center"><a href="{% url 'inspeccionar' type='Profesor' id=usuario.id status=2 %}"><i
                                                                class="fa-solid fa-eye"></i></a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show mb-3" id="v-pills-prospectoN" role="tabpanel"
                                aria-labelledby="v-pills-home-tab">
                                <div class="panel panel-primary filtroTable">
                                    <div class="panel-heading mb-3">
                                        <div class="d-flex justify-content-between">
                                            <h3>Prospecto</h3>
                                        </div>
                                    </div>
                                    <div class="table-responsive-md">
                                        <table class="table table-striped table-bordered dataTable tablaP" id="tablaU">
                                            <thead class="tabla">
                                                <tr class="filters">
                                                    <th class="text-center" style="width: 120px;">Correo institucional</th>
                                                    <th class="text-center" style="width: 120px;">Fecha creación</th>
                                                    <th class="text-center" style="width: 120px;">Ultimo ingreso</th>
                                                    <th class="text-center" style="width: 120px;">Activo</th>
                                                    <th class="text-center" style="width: 120px;">Inspeccionar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for usuario in usuariosPr %}
                                                <tr style="display: table-row;">
                                                    <td class="text-center">{{usuario.email}}</td>
                                                    <td class="text-center">{{usuario.fecha_creacion}}</td>
                                                    <td class="text-center">{{usuario.fecha_ingreso}}</td>
                                                    <td class="text-center"><input type="checkbox"
                                                            class="form-check-input" checked="{{usuario.activo}}"></td>
                                                    <td class="text-center"><a href="{% url 'inspeccionarPr' type='Prospecto' id=usuario.id status=4 %}"><i
                                                                class="fa-solid fa-eye"></i></a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="news section-padding mt-5" id="historial">
        <div class="row p-2 mt-5">
            <div class="col-12 col-sm-10 col-md-12 col-lg-12 mx-auto card cardPerfilCol mt-4">
                <h1 class="card-title p-2 text-center fw-bold ">Historial</h1>
                <div class="card-body">
                    <div class="panel panel-primary filtroTable">
                        <div class="panel-heading mb-3">
                            <div class="d-flex justify-content-between">
                                <h3>Acciones realizadas</h3>
                            </div>
                        </div>
                        <div class="table-responsive-md">
                            <table class="table table-striped table-bordered dataTable tablaH" id="tablaU">
                                <thead class="tabla">
                                    <tr class="filters">
                                        <th style="width: 120px;">Usuario</th>
                                        <th class="text-center" style="width: 380px;">Accion</th>
                                        <th class="text-center" style="width: 150px;">Fecha de realización</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for usuario in usuariosH %}
                                    <tr style="display: table-row;">
                                        <td class="text-center">{{usuario.usuario}}</td>
                                        <td class="text-center">{{usuario.accion}}</td>
                                        <td class="text-center">{{usuario.fecha}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        $('#tablaU').DataTable({
            language: {
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
            }

        });
        $('.tablaP').DataTable({
            language: {
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
            }

        });
        $('.tablaH').DataTable({
            language: {
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
            }

        });
        $('#tablaU thead input').click(function (e) {
            e.stopPropagation();
        });
        $('#tablaU').on('click', '.sort-icon', function () {
            var table = $('#tablaU').DataTable();
            var column = table.column($(this).closest('th'));

            // Cambia el estado de ordenamiento de la columna
            column.order(table.order()[0][0] === column.index() ? 'asc' : 'desc').draw();
        });
    });
</script>

{% endblock content %}