{% extends 'usuario/principal.html' %}

{% block barranavegacion %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Mi perfil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock barranavegacion %}

{% block content %}
<div class="row mt-5 mb-5">
    <div class="col-md-3 col-sm-12 border-right">
        <div class="row mt-2">
            <div class="col-md-12 mb-3">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    {% if fotoperfil %}
                        <img class="rounded-circle mt-5" width="200px" height="200px" src="{% url 'mostrar_foto' %}">
                    {% else %}
                        <img class="rounded-circle mt-5" width="200px" height="200px" src="../static/img/user.png">
                    {% endif %}
                    <span class="font-weight-bold">{{ user.username }}</span>
                    <span class="text-black-60">{{ estudiante.correo_institucional }}</span>
                    <span> </span>
                </div>
            </div>
        </div>
        <div class="col-md-10 mx-auto mb-2">
            <div class="text-center">
                <a href="{% url 'change_password' %}" class="btn btn-primary btn-sm rounded fw-bold">Cambiar
                    Contraseña</a>
            </div>
        </div>
        <div class="col-md-10 mx-auto mb-2">
            <div class="text-center">
                <a href="{% url 'cambio_correo' %}" class="btn btn-primary btn-sm rounded fw-bold">Cambiar
                    Correo Personal</a>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-12 border-right">
        <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="mx-auto">Informacion de Perfil</h4>
            </div>
            <form method="POST" action="{% url 'guardar_perfil' %}">
                {% csrf_token %}
                <div class="row mt-2">
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label class="labels">Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre" value="{{ estudiante.nombre }}"
                            readonly>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label class="labels">Apellidos</label>
                        <input type="text" class="form-control"
                            value="{{ estudiante.primer_apellido }} {{ estudiante.segundo_apellido }}"
                            placeholder="Apellidos" readonly>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label class="labels">Pais</label>
                        <input type="text" class="form-control" placeholder="Pais" value="{{ estudiante.nacionalidad }}" readonly>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label class="labels">Provincia</label>
                        <input type="text" class="form-control" name="provincia" value="{{ estudiante.provincia }}" placeholder="Provincia">
                    </div>
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label class="labels">Canton</label>
                        <input type="text" class="form-control" name="canton" placeholder="Canton" value="{{ estudiante.canton }}">
                    </div>
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label class="labels">Distrito</label>
                        <input type="text" class="form-control" name="distrito" placeholder="Distrito" value="{{ estudiante.distrito }}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 mb-3">
                        <label class="labels">Numero Telefonico</label>
                        <input type="text" class="form-control" placeholder="Numero Telefonico" name="numero_telefonico"
                            value="{{ estudiante.numero_telefonico }}">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="labels">Correo Electronico Personal</label>
                        <input type="text" class="form-control" placeholder="Correo Personal" name="correo_personal"
                            value="{{ estudiante.correo_personal }}" readonly>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Guardar Informacion</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    body {
        background: rgb(255, 255, 255);
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #ffffff;
    }

    .profile-button {
        background: rgb(255, 209, 64);
        box-shadow: none;
        color: black;
        border: none;
    }

    .profile-button:hover {
        background: #000000;
    }

    .profile-button:focus {
        background: #000000;
        box-shadow: none;
    }

    .profile-button:active {
        background: #000000;
        box-shadow: none;
    }

    .back:hover {
        color: #000000;
        cursor: pointer;
    }

    .labels {
        font-size: 16px;
    }

    .add-experience:hover {
        background: rgb(255, 209, 64);
        color: black;
        cursor: pointer;
        border: solid 1px #ffffff;
    }
</style>
{% endblock content %}