{% extends 'usuario/principal.html' %} {% block barranavegacion %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="https://uia.ac.cr/home/dist/img/logo.svg" alt="" width="150" height="50" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end opciones" id="navbarNav">
      <ul class="navbar-nav ms-auto"></ul>
      <div class="ml-auto opcion">
        <a class="btn btn-default" id="btnNavbar" href="{% url 'logout' %}" type="button">Cerrar sesión</a>
      </div>
    </div>
  </div>
</nav>
{% endblock barranavegacion %} {% block content %}
<div class="row">

  <div class="col-sm-6 col-lg-4 mt-5">
    <div class="card p-3 mb-2" id="infoCard">
      <a data-bs-toggle="modal" data-bs-target="#modal_primer_ingreso" class="card-link" onclick="llenardata()">
        <img src="../static/img/primer_ingreso.png" class="card-img-top" alt="..." />
      </a>

      <div class="card-body" id="infoCardBody">
        <h5 class="card-title" id="infoCardTitle">PRIMER INGRESO</h5>
        <p class="card-text" id="infoCardTextModal">
          <a data-bs-toggle="modal" data-bs-target="#modal_primer_ingreso_instrucciones"
            class="card-link">Instrucciones</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mt-5">
    <div class="card p-3 mb-2" id="infoCard">
      <a data-bs-toggle="modal" data-bs-target="#modal_posgrado" class="card-link" onclick="dataposgrados()">
        <img src="../static/img/posgrados.png" class="card-img-top" alt="..." />
      </a>

      <div class="card-body" id="infoCardBody">
        <h5 class="card-title" id="infoCardTitle">POSGRADOS</h5>
        <p class="card-text" id="infoCardTextModal">
          <a data-bs-toggle="modal" data-bs-target="#modal_posgrado_instrucciones" class="card-link">Instrucciones</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4 mt-5">
    <div class="card p-3 mb-2" id="infoCard">
      <a data-bs-toggle="modal" data-bs-target="#modal_cursolibres" class="card-link">
        <img src="../static/img/cursos_libres.png" class="card-img-top" alt="..." />
      </a>

      <div class="card-body" id="infoCardBody">
        <h5 class="card-title" id="infoCardTitle">CURSOS LIBRES</h5>
        <p class="card-text" id="infoCardTextModal">
          <a data-bs-toggle="modal" data-bs-target="#modal_cursos_libres_instrucciones"
            class="card-link">Instrucciones</a>
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<!-- Model de Primer Ingreso -->
{% block modal_primerIngreso %}
<div class="modal fade" id="modal_primer_ingreso" tabindex="-1" aria-labelledby="modal_primer_ingresoTitle"
  style="display: none" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_primer_ingresoTitle">
          FORMULARIO DE PRIMER INGRESO
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><span class="icon-close2"></span></span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'enviar_archivo_a_odoo' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label for="archivo">Título de Educación Media</label>
            <input class="form-control custom-file-input" style="opacity: 0.65" type="file" id="floatingFile"
              name="titulobachillerto" />
          </div>

          <div class="form-group mb-3">
            <label for="floatingFile">Identificación (fotografía visible por ambos lados)</label>
            <input class="form-control" style="opacity: 0.65" type="file" id="floatingFile" name="cedulafotografia" />
          </div>

          <div class="form-group mb-3">
            <label for="floatingFile">Foto tuya de perfil tipo pasaporte</label>
            <input class="form-control" style="opacity: 0.65" type="file" id="floatingFile" name="fotoperfil" />
          </div>

          <div class="form-group mb-3">
            <label for="tipo">Seleccione tipo de ingreso económico</label>
            <select id="ingreso_economico" class="form-control select2" name="ingreso_economico" required>
              <option value="" disabled selected hidden>Tipos de Ingreso Económico</option>
              <option value="Asalariado">Asalariado</option>
              <option value="Independiente">Ingresos Propios</option>
              <option value="Dependiente">Dependiente Economico</option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label for="lblcarrera">Colegio de procedencia</label>
            <select id="colegio_select" class="form-select" name="colegio_select"
              data-placeholder="Colegio donde egresó">
              <option value="" disabled selected hidden></option>
            </select>
          </div>

          <div class="form-group mb-3 dropdown-parent">
            <label for="lblcarrera">Seleccione una carrera</label>
            <select id="mi_select" class="form-select selectorbuscador" name="mi_select"
              data-placeholder="Seleccione la carrera">
              <option style="opacity: 0.65" value="" disabled selected hidden>
              </option>
            </select>
          </div>
          <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" value="" id="convalidacion" name="convalidacion">
            <label class="form-check-label" for="convalidacion">
              Convalidación de Cursos
            </label>
          </div>

          <div id="certificacion" class="form-group mb-3" style="display: none;">
            <label for="floatingFile">Certificación de Notas del Curso</label>
            <input class="form-control" style="opacity: 0.65" type="file" id="floatingFile" name="certificacionnotas" />
          </div>

          <div id="plan" class="form-group mb-3" style="display: none;">
            <label for="floatingFile">Plan de Estudio - Contenido del Curso</label>
            <input class="form-control" style="opacity: 0.65" type="file" id="floatingFile" name="planestudio" />
          </div>

          <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" value="" id="asesor" name="asesor">
            <label class="form-check-label" for="asesor">
              ¿Fuiste atendido por un asesor?
            </label>
          </div>

          <div class="form-group mb-3 dropdown-parent" id="select_asesor" style="display: none;">
            <label for="lblcarrera">Seleccione el asesor que te ha atendido</label>
            <select id="asesor_select" class="form-select selectorbuscador" name="asesor_select"
              data-placeholder="Seleccione el asesor que te ha atendido">
              <option style="opacity: 0.65" value="" disabled selected hidden>Seleccion asesor</option>
            </select>
          </div>
          <div class="d-grid mb-2">
            <button type="submit" class="btn btn-primary btn-sm rounded fw-bold">Enviar Formulario</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock modal_primerIngreso %}

<!-- Model de Posgrado -->
{% block modal_posgrado %}
<div class="modal fade" id="modal_posgrado" tabindex="-1" aria-labelledby="modal_posgradoTitle" style="display: none"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_posgradoTitle">
          FORMULARIO DE POSGRADOS
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><span class="icon-close2"></span></span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label for="floatingFile">Título Universitario</label>
            <input class="form-control" type="file" id="floatingFile" style="opacity: 0.65" name="titulobachillerto" />
          </div>

          <div class="form-group mb-3">
            <label for="floatingFile" style="opacity: 0.65">Identificación (fotografía visible por ambos
              lados)</label>
            <input class="form-control" type="file" id="floatingFile" style="opacity: .65;" name="cedulafotografia" />
          </div>

          <div class="form-group mb-3">
            <label for="floatingFile">Foto de perfil visible</label>
            <input class="form-control" type="file" id="floatingFile" style="opacity: 0.65" name="fotoperfil" />
          </div>

          <div class="form-group mb-3">
            <label for="tipo">Seleccione tipo de ingreso económico</label>
            <select id="ingreso_economico" class="form-control select2" name="ingreso_economico" required>
              <option style="opacity: .65;" value="" disabled selected hidden>Tipos de Ingreso Económico</option>
              <option value="Asalariado">Asalariado</option>
              <option value="Independiente">Ingresos Propios</option>
              <option value="Dependiente">Dependiente Economico</option>
            </select>
          </div>

          <div class="form-group mb-3 dropdown-parent">
            <label for="tipo">Especialidad de Interes</label>
            <select id="posgradoselect" class="form-select selectorbuscador" name="posgradoselect"
              data-placeholder="Seleccione la Especialidad">
              <option style="opacity: 0.65" value="" disabled selected hidden>
                Seleccione la Especialidad
              </option>
            </select>
          </div>

          <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" value="" id="asesor" name="asesor">
            <label class="form-check-label" for="asesor">
              ¿Fuiste atendido por un asesor?
            </label>
          </div>

          <div class="form-group mb-3 dropdown-parent" id="select_asesor" style="display: none;">
            <label for="lblcarrera">Seleccione el asesor que te ha atendido</label>
            <select id="asesor_select" class="form-select selectorbuscador" name="asesor_select"
              data-placeholder="Seleccione el asesor que te ha atendido">
              <option style="opacity: 0.65" value="" disabled selected hidden>Seleccion asesor</option>
            </select>
          </div>

          <div class="d-grid mb-2">
            <a href="{% url 'usuario_estudiante' %}" class="btn btn-primary btn-sm rounded fw-bold">Enviar
              Formulario</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock modal_posgrado %}

<!-- Modal Curso Libres -->
{% block modal_cursolibres %}
<div class="modal fade" id="modal_cursolibres" tabindex="-1" aria-labelledby="modal_cursolibresTitle"
  style="display: none" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_cursolibresTitle">
          FORMULARIO DE CURSO LIBRES
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><span class="icon-close2"></span></span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label for="floatingFile">Identificación (fotografía visible por ambos lados)</label>
            <input class="form-control" style="opacity: 0.65" type="file" id="floatingFile" name="cedulafotografia" />
          </div>
        </form>
        <div class="d-grid mb-2 d-flex justify-content-center">
          <a href="{% url 'usuario_estudiante' %}" class="btn btn-primary btn-sm rounded fw-bold"
            style="max-width: 150px;">Enviar Formulario</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock modal_cursolibres %}
<!-- Modal Curso Libres -->

<!-- Modal Instrucciones -->
{% block modal_instruccionesprimerIngreso %}
<div class="modal fade" id="modal_primer_ingreso_instrucciones" tabindex="-1"
  aria-labelledby="modal_primer_ingreso_instruccionesTitle" style="display: none" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_primer_ingreso_instruccionesTitle">
          INSTRUCCIONES PARA COMPLETAR FORMULARIO DE PRIMER INGRESO
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><span class="icon-close2"></span></span>
        </button>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
{% endblock modal_instruccionesprimerIngreso %}

{% block modal_instruccionesposgrados %}
<div class="modal fade" id="modal_posgrado_instrucciones" tabindex="-1"
  aria-labelledby="modal_posgrado_instruccionesTitle" style="display: none" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_posgrado_instruccionesTitle">
          INSTRUCCIONES PARA COMPLETAR FORMULARIO DE POSGRADOS
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><span class="icon-close2"></span></span>
        </button>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
{% endblock modal_instruccionesposgrados %}

{% block modal_instruccionescursolibres %}
<div class="modal fade" id="modal_cursos_libres_instrucciones" tabindex="-1"
  aria-labelledby="modal_cursos_libres_instruccionesTitle" style="display: none" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_cursos_libres_instruccionesTitle">
          INSTRUCCIONES PARA COMPLETAR FORMULARIO DE CURSOS LIBRES
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><span class="icon-close2"></span></span>
        </button>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
{% endblock modal_instruccionescursolibres %}

<!-- Modal Instrucciones -->
<script>
  function datacarreras() {
    var select = $("#mi_select");
    select.empty(); // Eliminamos todas las opciones anteriores
    var opcionPorDefecto = new Option("Seleccione una carrera", "", true, true);
    select.append(opcionPorDefecto);

    fetch("/carrerasselect/")
      .then((response) => response.json())
      .then((data) => {
        // Iteramos sobre los valores obtenidos
        data.forEach(function (valor) {
          // Creamos una nueva opción y la agregamos al select
          var opcion = new Option(valor, valor);
          select.append(opcion);
        });
        // Inicializamos Select2 con el dropdownParent apuntando al modal
        select.select2({
          dropdownParent: $("#modal_primer_ingreso"),
          width: "100%", // Ancho del dropdown
        });
      });
  }

  function datacolegios() {
    var select = $("#colegio_select");
    select.empty(); // Eliminamos todas las opciones anteriores
    var opcionPorDefecto = new Option("Seleccione un colegio", "", true, true);
    select.append(opcionPorDefecto);
    fetch("/colegiosselect/")
      .then((response) => response.json())
      .then((data) => {
        // Iteramos sobre los valores obtenidos
        data.forEach(function (valor) {
          // Creamos una nueva opción y la agregamos al select
          var opcion = new Option(valor, valor);
          select.append(opcion);
        });
        select.select2({
          dropdownParent: $('#modal_primer_ingreso'),
          width: "100%", // Ancho del dropdown
        });
      });
  }

  function dataposgrados() {
    var select = document.getElementById("posgradoselect");
    select.options.length = 0; // Eliminamos todas las opciones anteriores
    var opcionPorDefecto = new Option("Seleccione una posgrado", "", true, true);
    select.append(opcionPorDefecto);

    fetch("/posgradosselect/")
      .then((response) => response.json())
      .then((data) => {
        // Iteramos sobre los valores obtenidos
        data.forEach(function (valor) {
          // Creamos una nueva opción y la agregamos al select
          var opcion = new Option(valor, valor);
          select.append(opcion);
        });
        // Inicializamos Select2 con el dropdownParent apuntando al modal
        select.select2({
          dropdownParent: $("#modal_posgrado"),
          width: "100%", // Ancho del dropdown
        });
      });
  }

  function llenardata() {
    datacolegios();
    datacarreras();
  }

  const checkbox = document.getElementById("convalidacion");
  const div = document.getElementById("certificacion");
  const div2 = document.getElementById("plan");

  checkbox.addEventListener("change", function () {
    if (this.checked) {
      div.style.display = "block";
      div2.style.display = "block";
    } else {
      div.style.display = "none";
      div2.style.display = "none";
    }
  });

  const checkbox2 = document.getElementById("asesor");
  const div3 = document.getElementById("select_asesor");
  checkbox2.addEventListener("change", function () {
    if (this.checked) {
      div3.style.display = "block";
    } else {
      div3.style.display = "none";
    }
  });
</script>
{% endblock content %}
{% block footer %}
{% include 'usuario/footer.html' %}
{% endblock footer %}